<%- include('../layouts/header.ejs') %>

    <body>
        <div class="page-wrapper">
            <header class="header">
                <div class="header-top">
                    <div class="container mb-lg-2 pt-lg-2 pb-lg-2 mb-sm-0 pt-sm-0 pb-sm-0">
                        <div class="header-left">
                        </div><!-- End .header-left -->

                        <div class="header-right">
                            <ul class="top-menu">
                                <!-- <li>
                            <a href="#">Links</a>
                            <ul>
                                <li><a href="#signin-modal" data-toggle="modal"><i class="icon-user"></i>Login</a></li>
                            </ul>
                        </li> -->
                            </ul><!-- End .top-menu -->
                        </div><!-- End .header-right -->
                    </div><!-- End .container -->
                </div><!-- End .header-top -->

                <div class="header-middle sticky-header">
                    <div class="container">
                        <div class="header-left">
                            <button class="mobile-menu-toggler">
                                <span class="sr-only">Toggle mobile menu</span>
                                <i class="icon-bars"></i>
                            </button>

                            <a href="/" class="logo">
                                <img src="assets/newimages/logo.png" alt="shopEazy Logo" width="105" height="25">
                            </a>

                            <nav class="main-nav">
                                <ul class="menu sf-arrows">
                                    <li class="megamenu-container active">
                                        <a href="/" class="sf-with-ul">Home</a>


                                    </li>
                                    <li>
                                        <a href="category.html" class="sf-with-ul">Shop</a>

                                        <div class="megamenu megamenu-md">
                                            <div class="row no-gutters">
                                                <div class="col-md-8">
                                                    <div class="menu-col">
                                                        <div class="col-lg-9">
                                                            <h2 class="mb-4">Select a Shipping Address</h2>
                                                            <button type="button" class="btn btn-outline-primary mb-3"
                                                                id="add-address-btn">
                                                                <i class="icon-plus"></i> Add New Address
                                                            </button>
                                                            <div class="address-selection">
                                                                <form id="checkout-form" action="/place-order"
                                                                    method="POST">
                                                                    <div class="row">

                                                                        <div class="col-md-6">
                                                                            <div class="menu-title">Shop with sidebar
                                                                            </div>
                                                                            <!-- End .menu-title -->
                                                                            <ul>
                                                                                <li><a href="category-list.html">Shop
                                                                                        List</a></li>
                                                                                <li><a href="category-2cols.html">Shop
                                                                                        Grid 2
                                                                                        Columns</a></li>
                                                                                <li><a href="category.html">Shop Grid 3
                                                                                        Columns</a>
                                                                                </li>
                                                                                <li><a href="category-4cols.html">Shop
                                                                                        Grid 4
                                                                                        Columns</a></li>
                                                                                <li><a href="category-market.html"><span>Shop
                                                                                            Market<span
                                                                                                class="tip tip-new">New</span></span></a>
                                                                                </li>
                                                                            </ul>

                                                                            <div class="menu-title">Shop no sidebar
                                                                            </div>
                                                                            <!-- End .menu-title -->
                                                                            <ul>
                                                                                <li><a href="category-boxed.html"><span>Shop
                                                                                            Boxed
                                                                                            No Sidebar<span
                                                                                                class="tip tip-hot">Hot</span></span></a>
                                                                                </li>
                                                                                <li><a href="category-fullwidth.html">Shop
                                                                                        Fullwidth
                                                                                        No Sidebar</a></li>
                                                                            </ul>
                                                                        </div><!-- End .col-md-6 -->

                                                                        <div class="col-md-6">
                                                                            <div class="menu-title">Product Category
                                                                            </div>
                                                                            <!-- End .menu-title -->
                                                                            <ul>
                                                                                <li><a
                                                                                        href="product-category-boxed.html">Product
                                                                                        Category Boxed</a></li>
                                                                                <li><a
                                                                                        href="product-category-fullwidth.html"><span>Product
                                                                                            Category Fullwidth<span
                                                                                                class="tip tip-new">New</span></span></a>
                                                                                </li>
                                                                            </ul>
                                                                            <div class="menu-title">Shop Pages</div>
                                                                            <!-- End .menu-title -->
                                                                            <ul>
                                                                                <li><a href="cart.html">Cart</a></li>
                                                                                <li><a href="checkout.html">Checkout</a>
                                                                                </li>
                                                                                <li><a href="wishlist.html">Wishlist</a>
                                                                                </li>
                                                                                <li><a href="#">My Account</a></li>
                                                                            </ul>
                                                                        </div><!-- End .col-md-6 -->
                                                                    </div><!-- End .row -->
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div><!-- End .menu-col -->
                                                </div><!-- End .col-md-8 -->

                                                <div class="col-md-4">
                                                    <div class="banner banner-overlay">
                                                        <a href="category.html" class="banner banner-menu">
                                                            <!-- <img src="assets/images/menu/banner-1.jpg" alt="Banner"> -->

                                                            <div class="banner-content banner-content-top">
                                                                <!-- <div class="banner-title text-white">Last <br>Chance<br><span><strong>Sale</strong></span></div> -->
                                                            </div><!-- End .banner-content -->
                                                        </a>
                                                    </div><!-- End .banner banner-overlay -->
                                                </div><!-- End .col-md-4 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .megamenu megamenu-md -->
                                    </li>
                                </ul><!-- End .menu -->
                            </nav><!-- End .main-nav -->
                        </div><!-- End .header-left -->



                        <div class="header-right">
                            <div class="header-search">
                                <a href="#" class="search-toggle" role="button" title="Search"><i
                                        class="icon-search"></i></a>
                                <form action="#" method="get">
                                    <div class="header-search-wrapper">
                                        <label for="q" class="sr-only">Search</label>
                                        <input type="search" class="form-control" name="q" id="q"
                                            placeholder="Search in..." required>
                                    </div><!-- End .header-search-wrapper -->
                                </form>
                            </div><!-- End .header-search -->





                        </div><!-- End .header-right -->
                    </div><!-- End .container -->
                </div><!-- End .header-middle -->
            </header><!-- End .header -->

            <main class="main">
                <!-- Page Header -->
                <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                    <div class="container">
                        <h1 class="page-title">Shopping Checkout</h1>
                    </div>
                </div>

                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb" class="breadcrumb-nav">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item "><a href="/cart">Shopping Cart</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Check Out</li>
                        </ol>
                    </div>
                </nav>

                <!-- Page Content -->
                <div class="page-content">
                    <div class="cart">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9 ">
                                    <div class="cart-discount mb-5">
                                        <form id="couponForm" action="#">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="couponCode" placeholder="coupon code">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-primary-2" type="submit">
                                                        <i class="icon-long-arrow-right"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <br>
                                            <div id="couponMessage"></div>
                                            <div id="appliedCoupon" style="display: none;">
                                                <span id="appliedCouponCode"></span>
                                                <button id="removeCoupon" class="btn btn-sm btn-outline-danger ml-2">
                                                    <i class="icon-close"></i> Remove
                                                </button>
                                            </div>
                                        </form>
                                        <button type="button" class="btn btn-outline-primary mb-3 pr-3 pl-3"
                                            id="coupon-btn"><a href="" data-bs-toggle="modal"
                                                data-bs-target="#showCouponModal">Show coupons</a>

                                        </button>
                                    </div>
                                    <form id="ckeckoutForm">
                                        <div class="address-selection ">
                                            <div class="row">
                                                <% if (addressData && addressData.length> 0) { %>
                                                    <% addressData.forEach(function(address) { %>
                                                        <!-- Address Card 1 -->
                                                        <div class="col-md-4 mb-3 ">
                                                            <div class="card address-card h-100 ">
                                                                <div class="card-body ">
                                                                    <h5 class="card-title"></h5>
                                                                    <p class="card-text">
                                                                        <%= address?.name %><br>
                                                                            <%= address?.address %><br>
                                                                                <%= address?.town_city %><br>
                                                                                    <%= address?.pin_code %><br>
                                                                                        <%= address?.landmark %> <br>
                                                                                            <%= address.phone_number %>
                                                                                                <br>
                                                                                                <%= address.state %><br>
                                                                    </p>
                                                                </div>
                                                                <div class="card-footer bg-transparent ">
                                                                    <div class="form-check ">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="address" id="address1"
                                                                            value="<%= address._id %>" checked>
                                                                        <label class="form-check-label" for="address1">
                                                                            Select this address
                                                                        </label><br>
                                                                        <a href="#" class="rounded-pill p-2 btn-primary"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#editAddressModal<%= address._id %>">
                                                                            Edit Address<i class="icon-edit"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% }); %>
                                                            <% } else { %>
                                                                <p>No addresses found.</p>
                                                                <% } %>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-outline-primary mb-3"
                                            id="add-address-btn"><a href="" data-bs-toggle="modal"
                                                data-bs-target="#addAddressModal"> <i class="icon-plus"></i> Add New
                                                Address</a>

                                        </button>
                                        
                                </div>





                                <!-- Order Summary -->
                                <aside class="col-lg-3">
                                    <div class="summary">
                                        <h3 class="summary-title">Your Order</h3>
                                        <table class="table table-summary">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% cartData.forEach(item=> { %>
                                                    <tr>
                                                        <td><a href="/showProduct?id=<%= item.product_id._id %>">
                                                                <%= item.product_id.product_name %>
                                                            </a></td>
                                                        <td>
                                                            <% let discountedPrice=item.product_id.price; let
                                                                hasDiscount=false; offers.forEach((offer)=> {
                                                                offer.products.forEach((product) => {
                                                                if (String(product._id) === String(item.product_id._id))
                                                                {
                                                                if (offer.discount > 0) {
                                                                discountedPrice = item.product_id.price * (1 -
                                                                offer.discount / 100);
                                                                hasDiscount = true;
                                                                }
                                                                }
                                                                });
                                                                });
                                                                %>
                                                                <% if (hasDiscount) { %>


                                                                    <span class="new-price"> ₹<%=
                                                                            discountedPrice.toFixed(2) %></span>
                                                                    <span class="old-price text-primary"
                                                                        style="color:#16a8e6;"><s> ₹<%=
                                                                                item.product_id.price.toFixed(2) %>
                                                                                </s></span>
                                                                    <% } else { %>
                                                                        ₹<%= item.product_id.price.toFixed(2) %>
                                                                            <% } %>
                                                        </td>
                                                    </tr>
                                                    <% }); %>
                                                        <tr class="summary-subtotal">
                                                            <td>Subtotal:</td>
                                                            <% if(subtotal !=='undefined' ){%>
                                                                <td><span id="cart-subtotal">
                                                                        <%= subtotal %>
                                                                    </span></td>
                                                                <%}%>
                                                        </tr>
                                                        <tr id="couponDiscountRow" style="display: none;">
                                                            <td>Coupon Discount:</td>
                                                            <td>- ₹<span id="couponDiscount">0.00</span></td>
                                                            <td><span id="couponPercent">0.00</span>%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Shipping:</td>
                                                            <td>Free shipping</td>
                                                        </tr>
                                                        <tr class="summary-total">
                                                            <td>Total:</td>
                                                            <td><span id="cart-total">
                                                                    <%= subtotal %>
                                                                </span></td>
                                                        </tr>
                                            </tbody>
                                        </table>

                                        <!-- Payment Methods -->
                                        <div class="accordion-summary" id="accordion-payment">
                                            <div class="card">
                                                <select id="sort-option" name="sort" class="form-control"
                                                    style="color: black;">
                                                    <option value="CASH ON DELIVERY">CASH ON DELIVERY</option>
                                                    <option value="UPI PAYMENT">UPI PAYMENT</option>

                                                </select>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                            <span class="btn-text">Place Order</span>
                                            <span class="btn-hover-text">Proceed to Checkout</span>
                                        </button>
                                    </div>
                                </aside>
                                
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>




            <div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editAddressModalLabel">Add
                                Address</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body pl-5 pr-5">
                            <form id="addAddressForm">
                                <div class="mb-3 form-group">
                                    <label for="name" class="form-label errMsg">Name</label>
                                    <input type="text" class="form-control" id="name" value="">
                                </div>
                                <div class="mb-3 form-group">
                                    <label for="phone" class="form-label errMsg">Phone
                                        Number</label>
                                    <input type="tel" class="form-control" id="phone" value="">
                                </div>
                                <div class="mb-3 form-group">
                                    <label for="address" class="form-label errMsg">Address</label>
                                    <textarea class="form-control" id="address" rows="3"></textarea>

                                </div>
                                <div class="mb-3 form-group">
                                    <label for="city" class="form-label errMsg">Town/City</label>
                                    <input type="text" class="form-control" id="city" value="">
                                </div>
                                <div class="mb-3 form-group">
                                    <label for="pincode" class="form-label errMsg">PinCode</label>
                                    <input type="text" class="form-control" id="pincode" value="">
                                </div>
                                <div class="mb-3 form-group">
                                    <label for="landmark" class="form-label errMsg">Landmark <span
                                            class="text-muted">(optional)</span></label>
                                    <input type="text" class="form-control" id="landmark" value="">
                                </div>
                                <div class="mb-3 form-group">
                                    <label for="state" class="form-label errMsg">State</label>
                                    <input type="text" class="form-control" id="state" value="">
                                </div>
                                <input type="hidden" id="hiddenid" value="<%= userData?._id%>">

                                <button type="submit" class="btn btn-primary">Save
                                    changes</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="showCouponModal" tabindex="-1" aria-labelledby="showCouponModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editAddressModalLabel">Coupons</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body pl-5 pr-5">
                            <% coupons.forEach((x)=>{ %>
                            <div class="mb-3 form-group">
                                <%= x.couponId %> <span class="text-danger"><%= x.discount %>% Off</span>
                            </div>
                            <%})%>
                        </div>
                       
                    </div>
                </div>
            </div>



            <% if (addressData && addressData.length> 0) { %>
                <% addressData.forEach(function(address) { %>
                    <div class="modal fade" id="editAddressModal<%= address._id %>" tabindex="-1"
                        aria-labelledby="editAddressModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editAddressModalLabel">Edit
                                        Address</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body pl-5 pr-5">
                                    <form id="editAddressForm<%= address._id %>" class="edit-address-form"
                                        data-address-id="<%= address._id %>">
                                        <div class="mb-3 form-group">
                                            <label for="edit-name-<%= address._id %>"
                                                class="form-label errMsg">Name</label>
                                            <input type="text" class="form-control" id="edit-name-<%= address._id %>"
                                                value="<%=address.name%>">
                                        </div>
                                        <div class="mb-3 form-group">
                                            <label for="edit-phone-<%= address._id %>" class="form-label errMsg">Phone
                                                Number</label>
                                            <input type="tel" class="form-control" id="edit-phone-<%= address._id %>"
                                                value="<%=address.phone_number%>">
                                        </div>
                                        <div class="mb-3 form-group">
                                            <label for="edit-address-<%= address._id %>"
                                                class="form-label errMsg">Address</label>
                                            <textarea class="form-control" id="edit-address-<%= address._id %>"
                                                rows="3"><%= address.address %></textarea>

                                        </div>
                                        <div class="mb-3 form-group">
                                            <label for="edit-city-<%= address._id %>"
                                                class="form-label errMsg">Town/City</label>
                                            <input type="text" class="form-control" id="edit-city-<%= address._id %>"
                                                value="<%=address.town_city%>">
                                        </div>
                                        <div class="mb-3 form-group">
                                            <label for="edit-pincode-<%= address._id %>"
                                                class="form-label errMsg">PinCode</label>
                                            <input type="text" class="form-control" id="edit-pincode-<%= address._id %>"
                                                value="<%=address.pin_code%>">
                                        </div>
                                        <div class="mb-3 form-group">
                                            <label for="edit-landmark-<%= address._id %>"
                                                class="form-label errMsg">Landmark
                                                <span class="text-muted">(optional)</span></label>
                                            <input type="text" class="form-control"
                                                id="edit-landmark-<%= address._id %>" value="<%=address.landmark%>">
                                        </div>
                                        <div class="mb-3 form-group">
                                            <label for="edit-state-<%= address._id %>"
                                                class="form-label errMsg">State</label>
                                            <input type="text" class="form-control" id="edit-state-<%= address._id %>"
                                                value="<%=address.state%>">
                                        </div>
                                        <input type="hidden" id="edit-hiddenid-<%= address._id %>"
                                            value="<%= address._id%>">
                                        <button type="submit" class="btn btn-primary">Save
                                            changes</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                        <% } else { %>
                            <p>No addresses found.</p>
                            <% } %>











                                <footer class="footer">

                                    <div class="footer-middle">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-6 col-lg-3">
                                                    <div class="widget widget-about">
                                                        <img src="assets/newimages/logo.png" class="footer-logo"
                                                            alt="Footer Logo" width="150" height="25">
                                                        <p>Praesent dapibus, neque id cursus ucibus, tortor neque
                                                            egestas augue, eu
                                                            vulputate magna eros eu erat. </p>

                                                        <div class="widget-call">
                                                            <i class="icon-phone"></i>
                                                            Got Question? Call us 24/7
                                                            <a href="tel:#">+0123 456 789</a>
                                                        </div><!-- End .widget-call -->
                                                    </div><!-- End .widget about-widget -->
                                                </div><!-- End .col-sm-6 col-lg-3 -->

                                                <div class="col-sm-6 col-lg-3">
                                                    <div class="widget">
                                                        <h4 class="widget-title">Useful Links</h4>
                                                        <!-- End .widget-title -->

                                                        <ul class="widget-list">
                                                            <li><a href="about.html">About shopEazy</a></li>
                                                            <li><a href="#">Our Services</a></li>
                                                            <li><a href="#">How to shop on shopEazy</a></li>
                                                            <li><a href="faq.html">FAQ</a></li>
                                                            <li><a href="contact.html">Contact us</a></li>
                                                        </ul><!-- End .widget-list -->
                                                    </div><!-- End .widget -->
                                                </div><!-- End .col-sm-6 col-lg-3 -->

                                                <div class="col-sm-6 col-lg-3">
                                                    <div class="widget">
                                                        <h4 class="widget-title">Customer Service</h4>
                                                        <!-- End .widget-title -->

                                                        <ul class="widget-list">
                                                            <li><a href="#">Payment Methods</a></li>
                                                            <li><a href="#">Money-back guarantee!</a></li>
                                                            <li><a href="#">Returns</a></li>
                                                            <li><a href="#">Shipping</a></li>
                                                            <li><a href="#">Terms and conditions</a></li>
                                                            <li><a href="#">Privacy Policy</a></li>
                                                        </ul><!-- End .widget-list -->
                                                    </div><!-- End .widget -->
                                                </div><!-- End .col-sm-6 col-lg-3 -->

                                                <div class="col-sm-6 col-lg-3">
                                                    <div class="widget">
                                                        <h4 class="widget-title">My Account</h4>
                                                        <!-- End .widget-title -->

                                                        <ul class="widget-list">
                                                            <li><a href="#">Sign In</a></li>
                                                            <li><a href="cart.html">View Cart</a></li>
                                                            <li><a href="#">My Wishlist</a></li>
                                                            <li><a href="#">Track My Order</a></li>
                                                            <li><a href="#">Help</a></li>
                                                        </ul><!-- End .widget-list -->
                                                    </div><!-- End .widget -->
                                                </div><!-- End .col-sm-6 col-lg-3 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .container -->
                                    </div><!-- End .footer-middle -->

                                    <div class="footer-bottom">
                                        <div class="container">
                                            <p class="footer-copyright">Copyright © 2024 shopEazy Store. All Rights
                                                Reserved.</p>
                                            <!-- End .footer-copyright -->
                                            <figure class="footer-payments">
                                                <img src="assets/images/payments.png" alt="Payment methods" width="272"
                                                    height="20">
                                            </figure><!-- End .footer-payments -->
                                        </div><!-- End .container -->
                                    </div><!-- End .footer-bottom -->
                                </footer><!-- End .footer -->
        </div><!-- End .page-wrapper -->
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

        <!-- Mobile Menu -->
        <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

        <div class="mobile-menu-container">
            <div class="mobile-menu-wrapper">
                <span class="mobile-menu-close"><i class="icon-close"></i></span>

                <nav class="mobile-nav">
                    <ul class="mobile-menu">
                        <li class="active">
                            <a href="#">Checkout</a>

                        </li>
                        <li>
                            <a href="/">Home</a>  
                        </li>
                        <li>
                            <a href="/shop">Shop</a>  
                        </li>
                        <li>
                            <a href="/wishlist">Wishlist</a>  
                        </li>
                        <li>
                            <a href="/cart">Cart</a>  
                        </li>
                        <li>
                            <a href="/wallet">Wallet</a>  
                        </li>
                    </ul>
                </nav>


                <div class="social-icons">
                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                </div>
            </div>
        </div>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const addressCards = document.querySelectorAll('.address-card');
                const radioInputs = document.querySelectorAll('input[name="address"]');

                function updateSelectedCard() {
                    addressCards.forEach(card => card.classList.remove('selected'));
                    const selectedInput = document.querySelector('input[name="address"]:checked');
                    if (selectedInput) {
                        selectedInput.closest('.address-card').classList.add('selected');
                    }
                }

                radioInputs.forEach(input => {
                    input.addEventListener('change', updateSelectedCard);
                });

                addressCards.forEach(card => {
                    card.addEventListener('click', function () {
                        const radio = this.querySelector('input[type="radio"]');
                        radio.checked = true;
                        updateSelectedCard();
                    });
                });

                updateSelectedCard();
            });
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const checkoutForm = document.getElementById('ckeckoutForm');

                checkoutForm.addEventListener('submit', async function (e) {
                    e.preventDefault();

                    const selectedAddress = document.querySelector('input[name="address"]:checked');
                    const selectedPayment = document.getElementById('sort-option');
                    const totalAmount = parseFloat(document.getElementById('cart-total').textContent.trim());


                    const couponDiscountElement = document.getElementById('couponDiscount');
                    const couponPercentElement = document.getElementById('couponPercent');
                    const couponDiscount = couponDiscountElement ? parseFloat(couponDiscountElement.textContent) : 0;
                    const couponPercent = couponPercentElement ? parseFloat(couponPercentElement.textContent) : 0;
                    console.log(couponDiscount,couponPercent)

                    const address_id = selectedAddress.value;
                    const payment_type = selectedPayment.value;
                    const total_amount = totalAmount;

                    try {
                        console.log('Sending order data:', {
                            address_id,
                            payment_type,
                            total_amount,
                            coupon_discount: couponDiscount,
                            couponPercent
                        });
                        const response = await fetch('/placeOrder', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                address_id,
                                payment_type,
                                total_amount,
                                coupon_discount: couponDiscount,
                                couponPercent
                            })
                        });


                        const data = await response.json();

                        if (data.success) {
                            if (payment_type == "UPI PAYMENT") {
                                var options = {
                                    key: data.key,
                                    amount: data.amount,
                                    currency: data.currency,
                                    name: "ShopEazy",
                                    description: "Order Payment",
                                    order_id: data.razorpayOrderId,
                                    handler: function (response) {
                                        handlePaymentResponse(response, data.orderId);
                                    },
                                    prefill: {
                                        name: "<%= userData.name %>",
                                        email: "<%= userData.email %>"
                                    },
                                    theme: {
                                        color: "#3399cc"
                                    }
                                };
                                var rzp1 = new Razorpay(options);
                                rzp1.open();
                                rzp1.on('payment.failed', function (response){
                                    handlePaymentFailure(response, data.orderId);
                                });


                            } else {
                                Swal.fire({
                                    title: 'Success!',
                                    text: 'Your order has been placed successfully.',
                                    icon: 'success',
                                    confirmButtonText: 'OK'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = `/orderSummary?id=${data.orderId}`
                                    }
                                });
                            }
                        } else {
                            Swal.fire({
                                title: 'Error!',
                                text: data.message,
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });
                        }
                    } catch (error) {
                        console.error('Error details:', error);
                        Swal.fire({
                            title: 'Error!',
                            text: `There was an error placing your order: ${error.message}`,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
                
                async function handlePaymentResponse(response, orderId) {
                    try {
                        const result = await fetch('/verifyPayment', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                razorpay_payment_id: response.razorpay_payment_id,
                                razorpay_order_id: response.razorpay_order_id,
                                razorpay_signature: response.razorpay_signature,
                                orderId: orderId
                            })
                        });

                        const data = await result.json();

                        if (data.success) {
                            await fetch(`/updateOrderStatus/${orderId}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ status: 'Completed' })
                        });
                            Swal.fire({
                                title: 'Success!',
                                text: 'Your payment was successful and your order has been placed.',
                                icon: 'success',
                                confirmButtonText: 'OK'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = `/orderSummary?id=${orderId}`;
                                }
                            });
                        } else {
                            await fetch(`/updateOrderStatus/${orderId}`, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({ status: 'Failed' })
                            });
                            Swal.fire({
                                title: 'Payment Failed',
                                text: 'Your payment was not successful. Please try again or choose a different payment method.',
                                icon: 'error',
                                confirmButtonText: 'OK'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = `/orderSummary?id=${orderId}`;
                                }
                            });
                        }
                    } catch (error) {
                        console.error('Error:', error);
                        Swal.fire({
                            title: 'Error!',
                            text: 'An error occurred while processing your payment. Please try again.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                }

                async function handlePaymentFailure(response, orderId) {
                    try {
                        const result = await fetch('/payment-failed', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                razorpay_order_id: response.error.metadata.order_id,
                                orderId: orderId
                            })
                        });

                        const data = await result.json();

                        Swal.fire({
                            title: 'Payment Failed',
                            text: 'Your payment was not successful. Please try again or choose a different payment method.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = `/orderSummary?id=${orderId}`;
                            }
                        });
                    } catch (error) {
                        console.error('Error:', error);
                        Swal.fire({
                            title: 'Error!',
                            text: 'An error occurred while processing your payment. Please try again.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                }
            });
        </script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const addAddressForm = document.getElementById('addAddressForm');
                const name = document.getElementById('name');
                const phone = document.getElementById('phone');
                const address = document.getElementById('address');
                const city = document.getElementById('city');
                const landmark = document.getElementById('landmark');
                const state = document.getElementById('state');
                const pin = document.getElementById('pincode');
                const hiddenId = document.getElementById('hiddenid');


                addAddressForm.addEventListener('submit', function (event) {
                    event.preventDefault();
                    const nameValue = name.value.trim();
                    const phoneValue = phone.value.trim();
                    const addressValue = address.value.trim();
                    const cityValue = city.value.trim();
                    const landmarkValue = landmark.value.trim();
                    const stateValue = state.value.trim();
                    const pinValue = pin.value.trim();
                    const hiddenValue = hiddenId.value.trim();

                    validateAddressForm(nameValue, phoneValue, addressValue, cityValue, landmarkValue, stateValue, pinValue, hiddenValue);

                })

                const setError = (element, message) => {
                    const formGroup1 = element.parentElement;
                    const errorDisplay = formGroup1.querySelector('.errMsg');
                    if (errorDisplay) {
                        errorDisplay.innerText = message;
                        element.classList.add('error');
                        errorDisplay.classList.add('error');
                        element.classList.remove('success');
                        errorDisplay.classList.remove('success');
                    }
                }
                const setSuccess = (element, message) => {
                    const formGroup1 = element.parentElement;
                    const errorDisplay = formGroup1.querySelector('.errMsg');
                    if (errorDisplay) {
                        errorDisplay.innerText = message;
                        element.classList.add('success');
                        errorDisplay.classList.add('success');
                        element.classList.remove('error');
                        errorDisplay.classList.remove('error');
                    }
                }
                const validateAddressForm = async (nameValue, phoneValue, addressValue, cityValue, landmarkValue, stateValue, pinValue, hiddenValue) => {
                    let isValid = true;
                    const nameRegex = /^[a-zA-Z\s]+$/;
                    const phoneRegex = /^\+?(\d{1,4}[\s-\.]?)?(\d{1,3}[\s-\.]?)?(\d{1,4}[\s-\.]?)?(\d{1,9})$/;


                    if (nameValue === '') {
                        isValid = false;
                        setError(name, 'Enter Name ')
                    } else if (nameValue.length < 3) {
                        isValid = false;
                        setError(name, 'Name shoul be more than 2 letter')
                    } else if (!nameRegex.test(nameValue)) {
                        isValid = false;
                        setError(name, 'Name should only contain letters and spaces');
                    } else {
                        setSuccess(name, 'Name')
                    }
                    if (phoneValue === '') {
                        isValid = false;
                        setError(phone, 'Enter Phone Number ')
                    } else if (!phoneRegex.test(phoneValue)) {
                        isValid = false;
                        setError(phone, 'Enter Correct Phone Number ')
                    } else {
                        setSuccess(phone, 'Phone Number')
                    }
                    if (addressValue === '') {
                        isValid = false;
                        setError(address, 'Enter Address ')
                    } else if (addressValue.length < 6) {
                        isValid = false;
                        setError(address, 'Please Provide Detailed Address')
                    } else {
                        setSuccess(address, 'Address')
                    }
                    if (cityValue == '') {
                        isValid = false;
                        setError(city, 'Enter Town/City ')
                    } else if (cityValue.length > 20) {
                        isValid = false;
                        setError(city, 'Enter Correct Town/City ')
                    } else {
                        setSuccess(city, 'Town/City')
                    }
                    if (stateValue === '') {
                        isValid = false;
                        setError(state, 'Enter State')
                    } else {
                        setSuccess(state, 'State')
                    }
                    if (pinValue === '') {
                        isValid = false;
                        setError(pin, 'Enter PinCode')
                    } else if (pinValue.length !== 6) {
                        isValid = false;
                        setError(pin, 'Invalid Pin')
                    }
                    else {
                        setSuccess(pin, 'PinCode')
                    }
                    if (!isValid) {
                        return;
                    }

                    try {
                        const response = await fetch('/addAddress', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                name: nameValue,
                                phone: phoneValue,
                                address: addressValue,
                                city: cityValue,
                                landmark: landmarkValue,
                                state: stateValue,
                                pin: pinValue,
                                id: hiddenValue

                            })
                        });
                        const data = await response.json();
                        if (data.success) {
                            Swal.fire({
                                title: 'Success!',
                                text: data.message,
                                icon: 'success',
                                confirmButtonText: 'OK'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = "/checkout";
                                }
                            });
                        } else {
                            Swal.fire({
                                title: 'Error!',
                                text: data.message,
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });
                        }



                    } catch (error) {
                        console.error('Error during add address:', error);

                    }



                }
            });
        </script>



        <script>

            document.addEventListener('DOMContentLoaded', function () {
                const editAddressForms = document.querySelectorAll('.edit-address-form');

                editAddressForms.forEach(form => {
                    form.addEventListener('submit', function (event) {
                        event.preventDefault();
                        const addressId = this.getAttribute('data-address-id');

                        const edit_name = document.getElementById(`edit-name-${addressId}`);
                        const edit_phone = document.getElementById(`edit-phone-${addressId}`);
                        const edit_address = document.getElementById(`edit-address-${addressId}`);
                        const edit_city = document.getElementById(`edit-city-${addressId}`);
                        const edit_landmark = document.getElementById(`edit-landmark-${addressId}`);
                        const edit_state = document.getElementById(`edit-state-${addressId}`);
                        const edit_pin = document.getElementById(`edit-pincode-${addressId}`);
                        const edit_hidden = document.getElementById(`edit-hiddenid-${addressId}`);



                        edit_validateAddressForm(
                            edit_name, edit_phone, edit_address,
                            edit_city, edit_landmark, edit_state,
                            edit_pin, edit_hidden
                        );
                    });
                });
                const setError = (element, message) => {
                    const formGroup1 = element.parentElement;
                    const errorDisplay = formGroup1.querySelector('.errMsg');
                    if (errorDisplay) {
                        errorDisplay.innerText = message;
                        element.classList.add('error');
                        errorDisplay.classList.add('error');
                        element.classList.remove('success');
                        errorDisplay.classList.remove('success');
                    }
                }

                const setSuccess = (element, message) => {
                    const formGroup1 = element.parentElement;
                    const errorDisplay = formGroup1.querySelector('.errMsg');
                    if (errorDisplay) {
                        errorDisplay.innerText = message;
                        element.classList.add('success');
                        errorDisplay.classList.add('success');
                        element.classList.remove('error');
                        errorDisplay.classList.remove('error');
                    }
                }



                const edit_validateAddressForm = async (
                    edit_name, edit_phone, edit_address,
                    edit_city, edit_landmark, edit_state,
                    edit_pin, edit_hidden
                ) => {

                    const edit_nameValue = edit_name.value.trim();
                    const edit_phoneValue = edit_phone.value.trim();
                    const edit_addressValue = edit_address.value.trim();
                    const edit_cityValue = edit_city.value.trim();
                    const edit_landmarkValue = edit_landmark.value.trim();
                    const edit_stateValue = edit_state.value.trim();
                    const edit_pinValue = edit_pin.value.trim();
                    const edit_hiddenValue = edit_hidden.value.trim();



                    let isValid = true;
                    const nameRegex = /^[a-zA-Z\s]+$/;
                    const phoneRegex = /^\+?(\d{1,4}[\s-\.]?)?(\d{1,3}[\s-\.]?)?(\d{1,4}[\s-\.]?)?(\d{1,9})$/;

                    if (edit_nameValue === '') {
                        isValid = false;
                        setError(edit_name, 'Enter Name');
                    } else if (edit_nameValue.length < 3) {
                        isValid = false;
                        setError(edit_name, 'Name should be more than 2 letters');
                    } else if (!nameRegex.test(edit_nameValue)) {
                        isValid = false;
                        setError(edit_name, 'Name should only contain letters and spaces');
                    } else {
                        setSuccess(edit_name, 'Name');
                    }

                    if (edit_phoneValue === '') {
                        isValid = false;
                        setError(edit_phone, 'Enter Phone Number');
                    } else if (!phoneRegex.test(edit_phoneValue)) {
                        isValid = false;
                        setError(edit_phone, 'Enter Correct Phone Number');
                    } else {
                        setSuccess(edit_phone, 'Phone Number');
                    }

                    if (edit_addressValue === '') {
                        isValid = false;
                        setError(edit_address, 'Enter Address');
                    } else if (edit_addressValue.length < 6) {
                        isValid = false;
                        setError(edit_address, 'Please Provide a Detailed Address');
                    } else {
                        setSuccess(edit_address, 'Address');
                    }

                    if (edit_cityValue === '') {
                        isValid = false;
                        setError(edit_city, 'Enter Town/City');
                    } else if (edit_cityValue.length > 20) {
                        isValid = false;
                        setError(edit_city, 'Enter Correct Town/City');
                    } else {
                        setSuccess(edit_city, 'Town/City');
                    }

                    if (edit_stateValue === '') {
                        isValid = false;
                        setError(edit_state, 'Enter State');
                    } else {
                        setSuccess(edit_state, 'State');
                    }

                    if (edit_pinValue === '') {
                        isValid = false;
                        setError(edit_pin, 'Enter PinCode');
                    } else if (edit_pinValue.length !== 6) {
                        isValid = false;
                        setError(edit_pin, 'Invalid Pin');
                    } else {
                        setSuccess(edit_pin, 'PinCode');
                    }

                    if (!isValid) {
                        return;
                    }


                    try {
                        const response = await fetch('/updateAddress', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                name: edit_nameValue,
                                phone: edit_phoneValue,
                                address: edit_addressValue,
                                city: edit_cityValue,
                                landmark: edit_landmarkValue,
                                state: edit_stateValue,
                                pin: edit_pinValue,
                                id: edit_hiddenValue
                            })
                        });
                        const data = await response.json();
                        if (data.success) {
                            Swal.fire({
                                title: 'Success!',
                                text: data.message,
                                icon: 'success',
                                confirmButtonText: 'OK'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = "/checkout";
                                }
                            });
                        } else {
                            Swal.fire({
                                title: 'Error!',
                                text: data.message,
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });
                        }
                    } catch (error) {
                        console.error('Error during address update:', error);
                    }
                }
            
            });
        </script>
        <script>
        document.addEventListener('DOMContentLoaded', function () {
            const couponForm = document.getElementById('couponForm');
            const couponInput = document.getElementById('couponCode');
            const appliedCouponDiv = document.getElementById('appliedCoupon');
            const appliedCouponCode = document.getElementById('appliedCouponCode');
            const removeCouponBtn = document.getElementById('removeCoupon');

            function displayCouponMessage(message, isSuccess) {
                const messageElement = document.getElementById('couponMessage');
                messageElement.innerHTML = `
                    <p style="color: ${isSuccess ? 'green' : 'red'}; font-weight: bold;">${message}</p>
                `;
            }

            function showAppliedCoupon(couponCode) {
                appliedCouponCode.textContent = `Applied Coupon: ${couponCode}`;
                appliedCouponDiv.style.display = 'block';
                couponInput.disabled = true;
            }

            function hideAppliedCoupon() {
                appliedCouponDiv.style.display = 'none';
                couponInput.disabled = false;
                couponInput.value = '';
            }
    if (couponForm) {
        couponForm.addEventListener('submit', function (e) {
            e.preventDefault(); 
            
            const couponCode = document.getElementById('couponCode').value;
            const subtotal = parseFloat('<%= subtotal %>'); 

            console.log('Submitting coupon:', couponCode, 'Subtotal:', subtotal);

            fetch('/applyCoupon', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ couponCode, subtotal })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Server response:', data);

                if (data.success) {
                    console.log(data.discountPercent);
                    
                document.getElementById('couponDiscountRow').style.display = 'table-row';
                document.getElementById('couponDiscount').textContent = data.discountAmount.toFixed(2);
                document.getElementById('couponPercent').textContent = data.discountPercent;
                document.getElementById('cart-total').textContent = data.newTotal.toFixed(2);
                
                displayCouponMessage(data.message, true);
                    showAppliedCoupon(couponCode);
            } else {
                
                displayCouponMessage(data.message, false);
            }
            })
            .catch(error => {
                console.error('Error applying coupon:', error);
                displayCouponMessage('An error occurred while applying the coupon', false);
            });

            return false;
        });
    } else {
        console.error('Coupon form not found');
    }

    removeCouponBtn.addEventListener('click', function(e) {
        e.preventDefault();
        const subtotal = parseFloat('<%= subtotal %>');
        fetch('/removeCoupon', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body:JSON.stringify({ subtotal })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('couponDiscountRow').style.display = 'none';
                    document.getElementById('cart-total').textContent = data.newTotal.toFixed(2);
                    displayCouponMessage('Coupon removed successfully', true);
                    hideAppliedCoupon();
                } else {
                    displayCouponMessage(data.message, false);
                }
            })
            .catch(error => {
                console.error('Error removing coupon:', error);
                displayCouponMessage('An error occurred while removing the coupon', false);
            });
    })
    
});


        </script>
        <!-- Plugins JS File -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.hoverIntent.min.js"></script>
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <script src="assets/js/superfish.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/bootstrap-input-spinner.js"></script>
        <!-- Main JS File -->
        <script src="assets/js/main.js"></script>
    </body>


    <%- include('../layouts/footer.ejs') %>