<%- include('../layouts/header.ejs') %>

    <body>
        <div class="page-wrapper">
            <header class="header">
                <div class="header-top">
                    <div class="container mb-2 pt-2 pb-2">
                        <div class="header-left">
                        </div><!-- End .header-left -->

                        <div class="header-right">
                            <ul class="top-menu">
                                <!-- <li>
                            <a href="#">Links</a>
                            <ul>
                                <li><a href="#signin-modal" data-toggle="modal"><i class="icon-user"></i>Login</a></li>
                            </ul>
                        </li> -->
                            </ul><!-- End .top-menu -->
                        </div><!-- End .header-right -->
                    </div><!-- End .container -->
                </div><!-- End .header-top -->

                <div class="header-middle sticky-header">
                    <div class="container">
                        <div class="header-left">
                            <button class="mobile-menu-toggler">
                                <span class="sr-only">Toggle mobile menu</span>
                                <i class="icon-bars"></i>
                            </button>

                            <a href="/" class="logo">
                                <img src="assets/newimages/logo.png" alt="shopEazy Logo" width="105" height="25">
                            </a>

                            <nav class="main-nav">
                                <ul class="menu sf-arrows">
                                    <li class="megamenu-container active">
                                        <a href="/" class="sf-with-ul">Home</a>


                                    </li>
                                    <li>
                                        <a href="category.html" class="sf-with-ul">Shop</a>

                                        <div class="megamenu megamenu-md">
                                            <div class="row no-gutters">
                                                <div class="col-md-8">
                                                    <div class="menu-col">
                                                        <div class="col-lg-9">
                                                            <h2 class="mb-4">Select a Shipping Address</h2>
                                                            <button type="button" class="btn btn-outline-primary mb-3"
                                                                id="add-address-btn">
                                                                <i class="icon-plus"></i> Add New Address
                                                            </button>
                                                            <div class="address-selection">
                                                                <form id="checkout-form" action="/place-order"
                                                                    method="POST">
                                                                    <div class="row">

                                                                        <div class="col-md-6">
                                                                            <div class="menu-title">Shop with sidebar
                                                                            </div>
                                                                            <!-- End .menu-title -->
                                                                            <ul>
                                                                                <li><a href="category-list.html">Shop
                                                                                        List</a></li>
                                                                                <li><a href="category-2cols.html">Shop
                                                                                        Grid 2
                                                                                        Columns</a></li>
                                                                                <li><a href="category.html">Shop Grid 3
                                                                                        Columns</a>
                                                                                </li>
                                                                                <li><a href="category-4cols.html">Shop
                                                                                        Grid 4
                                                                                        Columns</a></li>
                                                                                <li><a href="category-market.html"><span>Shop
                                                                                            Market<span
                                                                                                class="tip tip-new">New</span></span></a>
                                                                                </li>
                                                                            </ul>

                                                                            <div class="menu-title">Shop no sidebar
                                                                            </div>
                                                                            <!-- End .menu-title -->
                                                                            <ul>
                                                                                <li><a href="category-boxed.html"><span>Shop
                                                                                            Boxed
                                                                                            No Sidebar<span
                                                                                                class="tip tip-hot">Hot</span></span></a>
                                                                                </li>
                                                                                <li><a href="category-fullwidth.html">Shop
                                                                                        Fullwidth
                                                                                        No Sidebar</a></li>
                                                                            </ul>
                                                                        </div><!-- End .col-md-6 -->

                                                                        <div class="col-md-6">
                                                                            <div class="menu-title">Product Category
                                                                            </div>
                                                                            <!-- End .menu-title -->
                                                                            <ul>
                                                                                <li><a
                                                                                        href="product-category-boxed.html">Product
                                                                                        Category Boxed</a></li>
                                                                                <li><a
                                                                                        href="product-category-fullwidth.html"><span>Product
                                                                                            Category Fullwidth<span
                                                                                                class="tip tip-new">New</span></span></a>
                                                                                </li>
                                                                            </ul>
                                                                            <div class="menu-title">Shop Pages</div>
                                                                            <!-- End .menu-title -->
                                                                            <ul>
                                                                                <li><a href="cart.html">Cart</a></li>
                                                                                <li><a href="checkout.html">Checkout</a>
                                                                                </li>
                                                                                <li><a href="wishlist.html">Wishlist</a>
                                                                                </li>
                                                                                <li><a href="#">My Account</a></li>
                                                                            </ul>
                                                                        </div><!-- End .col-md-6 -->
                                                                    </div><!-- End .row -->
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div><!-- End .menu-col -->
                                                </div><!-- End .col-md-8 -->

                                                <div class="col-md-4">
                                                    <div class="banner banner-overlay">
                                                        <a href="category.html" class="banner banner-menu">
                                                            <!-- <img src="assets/images/menu/banner-1.jpg" alt="Banner"> -->

                                                            <div class="banner-content banner-content-top">
                                                                <!-- <div class="banner-title text-white">Last <br>Chance<br><span><strong>Sale</strong></span></div> -->
                                                            </div><!-- End .banner-content -->
                                                        </a>
                                                    </div><!-- End .banner banner-overlay -->
                                                </div><!-- End .col-md-4 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .megamenu megamenu-md -->
                                    </li>
                                </ul><!-- End .menu -->
                            </nav><!-- End .main-nav -->
                        </div><!-- End .header-left -->



                        <div class="header-right">
                            <div class="header-search">
                                <a href="#" class="search-toggle" role="button" title="Search"><i
                                        class="icon-search"></i></a>
                                <form action="#" method="get">
                                    <div class="header-search-wrapper">
                                        <label for="q" class="sr-only">Search</label>
                                        <input type="search" class="form-control" name="q" id="q"
                                            placeholder="Search in..." required>
                                    </div><!-- End .header-search-wrapper -->
                                </form>
                            </div><!-- End .header-search -->





                        </div><!-- End .header-right -->
                    </div><!-- End .container -->
                </div><!-- End .header-middle -->
            </header><!-- End .header -->
           

                    <main class="main">
                    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                        <div class="container">
                        <h1 class="page-title">Order Summary</h1>
                        </div>
                    </div>

                    <div class="page-content">
                        <div class="container order-summary-container">
                            <div class="order-summary">
                                <div class="order-details">
                                    <div class="order-info">
                                        <h5 class="mb-3">Order Details</h5>
                                        <p><strong>Order ID:</strong> #<%= order?.order_id %></p>
                                        <p><strong>Total Amount:</strong> ₹ <%= order.total_amount.toFixed(2) %></p>
                                        <p><strong>Discount:</strong> ₹<%= order?.discount %></p>
                                        <p><strong>Payment Status:</strong> <%= order.payment_status %></p>
                                        <p><strong>Ordered Date:</strong> <%= 
                                            new Date(order.created_at).toLocaleDateString("en-US", {
                                              year: "numeric",
                                              month: "long",
                                              day: "numeric",
                                              hour: "2-digit",
                                              minute: "2-digit"
                                            }) 
                                          %></p>
                                        <p><strong>Estimated Dispatch Date:</strong> 
                                            <%= 
                                            new Date(order.created_at.getTime() + 2*24*60*60*1000).toLocaleDateString("en-US", {
                                              year: "numeric",
                                              month: "long",
                                              day: "numeric",
                                            }) 
                                          %>
                                          </p>

                                    </div>
                                <div class="address-details">
                                        <p><strong>Ship to:</strong> <%= order.address_id.name %></p>
                                        <p><strong>Delivery Address:</strong><br>
                                            <%= order.address_id.address %>, <br>
                                            <%= order.address_id.town_city %>,<br><%= order.address_id.pin_code %> <br>
                                             <%= order.address_id.state %> <br>
                                             <%= order.address_id.phone_number %>
                                        </p>
                                    </div>
                                </div>
                                <h3 class="mt-4 mb-3">Products</h3>
                                <table class="table table-striped table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th></th>
                                            <th>Product </th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% order.items.forEach(item => { %>
                                            <tr>
                                                <td class="variant-image">
                                                    <img class="rounded mx-auto d-block" src="uploads/<%= item.product_id.images[0] %>" alt="<%= item.name %>">
                                                </td>
                                                <td><%= item.name %></td>
                                                <td><%= item.quantity %></td>
                                                <td>₹<%= item.price.toFixed(2) %></td>
                                                <td>₹<%= item.total.toFixed(2) %></td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                                <div class="order-summary-footer">
                                    <div class="row">
                                        <div class="col-md-12 text-right"> 
                                            <% let subtot = order.total_amount + order?.discount  %>
                                            <h6>Subtotal: <span>₹<%= (subtot.toFixed(2)) %></span></h6>
                                            <h6>Discount: <span>- ₹<%= order?.discount %></span></h6>
                                            <h6>Shipping Charge: <span>Free Delivery</span></h6>
                                            <h5 class="mt-4">Grand Total: <span>₹<%= order.total_amount.toFixed(2) %></span></h5>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="text-center mt-4">
                                    <a href="/shop" class="btn btn-primary btn-lg mr-2">Continue Shopping</a>
                                    <!-- <a href="/download-invoice/<%= order._id %>" class="btn btn-secondary btn-lg">Download Invoice</a> -->
                                </div>
                            </div>
                        </div>  
                    </div>
                    </main>

            



            
            <footer class="footer">

                <div class="footer-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="widget widget-about">
                                    <img src="assets/newimages/logo.png" class="footer-logo" alt="Footer Logo"
                                        width="150" height="25">
                                    <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu
                                        vulputate magna eros eu erat. </p>

                                    <div class="widget-call">
                                        <i class="icon-phone"></i>
                                        Got Question? Call us 24/7
                                        <a href="tel:#">+0123 456 789</a>
                                    </div><!-- End .widget-call -->
                                </div><!-- End .widget about-widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="about.html">About shopEazy</a></li>
                                        <li><a href="#">Our Services</a></li>
                                        <li><a href="#">How to shop on shopEazy</a></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="contact.html">Contact us</a></li>
                                    </ul><!-- End .widget-list -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="#">Payment Methods</a></li>
                                        <li><a href="#">Money-back guarantee!</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Shipping</a></li>
                                        <li><a href="#">Terms and conditions</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul><!-- End .widget-list -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="#">Sign In</a></li>
                                        <li><a href="cart.html">View Cart</a></li>
                                        <li><a href="#">My Wishlist</a></li>
                                        <li><a href="#">Track My Order</a></li>
                                        <li><a href="#">Help</a></li>
                                    </ul><!-- End .widget-list -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .footer-middle -->

                <div class="footer-bottom">
                    <div class="container">
                        <p class="footer-copyright">Copyright © 2024 shopEazy Store. All Rights Reserved.</p>
                        <!-- End .footer-copyright -->
                        <figure class="footer-payments">
                            <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                        </figure><!-- End .footer-payments -->
                    </div><!-- End .container -->
                </div><!-- End .footer-bottom -->
            </footer><!-- End .footer -->
        </div><!-- End .page-wrapper -->
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

        <!-- Mobile Menu -->
        <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

        <div class="mobile-menu-container">
            <div class="mobile-menu-wrapper">
                <span class="mobile-menu-close"><i class="icon-close"></i></span>

                <form action="#" method="get" class="mobile-search">
                    <label for="mobile-search" class="sr-only">Search</label>
                    <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                        placeholder="Search in..." required>
                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                </form>


                <div class="social-icons">
                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                </div><!-- End .social-icons -->
            </div><!-- End .mobile-menu-wrapper -->
        </div><!-- End .mobile-menu-container -->

        <!-- Sign in / Register Modal -->

        <!-- Plugins JS File -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.hoverIntent.min.js"></script>
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <script src="assets/js/superfish.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/bootstrap-input-spinner.js"></script>
        <!-- Main JS File -->
        <script src="assets/js/main.js"></script>
    </body>


    <%- include('../layouts/footer.ejs') %>