<%- include('../layouts/header.ejs') %>

    <body>
        <div class="page-wrapper">
            <header class="header">
                <div class="header-top">
                    <div class="container mb-lg-2 pt-lg-2 pb-lg-2 mb-sm-0 pt-sm-0 pb-sm-0">
                        <div class="header-left">
                            <a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a>
                        </div><!-- End .header-left -->

                        <div class="header-right">

                            <ul class="top-menu">
                                <li>
                                    <a href="#">Links</a>
                                    <% if(typeof userData=='undefined' ){ %>
                                        <ul>
                                            <li><a href="#signin-modal" data-toggle="modal">Sign in / Sign up</a></li>
                                        </ul>
                                        <% } else {%>
                                            <ul>
                                                <li><a href="/logout" ">Log out</a></li>
                                    <li><a href="/dashboard" data-toggle="modal">
                                                        <%= userData.user_name %>
                                                    </a></li>
                                            </ul>
                                            <% } %>
                                </li>
                            </ul><!-- End .top-menu -->
                        </div><!-- End .header-right -->

                    </div><!-- End .container -->
                </div><!-- End .header-top -->

                <div class="header-middle sticky-header">
                    <div class="container">
                        <div class="header-left">
                            <button class="mobile-menu-toggler">
                                <span class="sr-only">Toggle mobile menu</span>
                                <i class="icon-bars"></i>
                            </button>

                            <a href="/" class="logo">
                                <img src="assets/newimages/logo.png" alt="Shoeazy Logo" width="150" height="25">
                            </a>
                        </div><!-- End .header-left -->

                        <div class="header-right">
                            <div class="header-search">
                                <a href="#" class="search-toggle" role="button" title="Search"><i
                                        class="icon-search"></i></a>
                                <form action="#" method="get">
                                    <div class="header-search-wrapper">
                                        <label for="q" class="sr-only">Search</label>
                                        <input type="search" class="form-control" name="q" id="q"
                                            placeholder="Search in..." required>
                                    </div><!-- End .header-search-wrapper -->
                                </form>
                            </div><!-- End .header-search -->
                            <div class="dropdown compare-dropdown">



                            </div><!-- End .compare-dropdown -->

                            <div class="header-right">
    
    
    
    
    
                                <div class="dropdown cart-dropdown">
                                    <a href="/cart" class=" dropdown-toggle">
    
                                        
                                        <div class="icon">
                                            <i class="icon-shopping-cart"></i>
                                            
                                        </div>
                                    </a>
    
                                </div><!-- End .header-right -->
                    </div><!-- End .container -->
                </div><!-- End .header-middle -->
            </header><!-- End .header -->

            <main class="main">
                <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                    <div class="container">
                        <h1 class="page-title">
                            <%=categoryData.category_name%><span>Shop</span>
                        </h1>
                    </div><!-- End .container -->
                </div><!-- End .page-header -->
                <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">
                                    <%=categoryData.category_name%>
                                </a></li>


                        </ol>
                    </div><!-- End .container -->
                </nav><!-- End .breadcrumb-nav -->

                <div class="page-content">
                    <div class="container">
                        <div class="toolbox">
                            

                            <div class="toolbox-center">
                                <div class="toolbox-info">
                                    <!-- Showing <span>12 of 56</span> Products -->
                                </div><!-- End .toolbox-info -->
                            </div><!-- End .toolbox-center -->

                            <div class="toolbox-right">
                                <!-- <div class="toolbox-sort">
        						<label for="sortby">Sort by:</label>
        						<div class="select-custom">
									<select name="sortby" id="sortby" class="form-control">
										<option value="popularity" selected="selected">Most Popular</option>
										<option value="rating">Most Rated</option>
										<option value="date">Date</option>
									</select>
								</div>
        					</div> -->
                            </div><!-- End .toolbox-right -->
                        </div><!-- End .toolbox -->

                        <div class="products">
                            <div class="row">



                                <% for(let i=0;i<productData.length;i++){ %>
                                    <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                        <div class="product">
                                            <figure class="product-media">
                                                <% 
                                                let bestDiscount = 0;
                                                let hasDiscount = false;
                                                let discountedPrice =productData[i].price;
                                            
                                                
                                                offers.forEach((item) => {
                                                    if (item.type === 'PRODUCT') {
                                                        item.products.forEach((Product) => {
                                                            if (String(productData[i]._id) === String(Product._id)) {
                                                                if (item.discount > bestDiscount) {
                                                                    bestDiscount = item.discount;
                                                                    hasDiscount = true;
                                                                    discountedPrice =productData[i].price * (1 - bestDiscount / 100);
                                                                }
                                                            }
                                                        });
                                                    }
                                                });
                                            
                                                // Check for category offers
                                                offers.forEach((item) => {
                                                    if (item.type === 'CATEGORY') {
                                                        const categoryMatch = item.category.some(category => 
                                                            String(productData[i].category) === String(category)
                                                        );
                                                        
                                                        if (categoryMatch && item.discount > bestDiscount) {
                                                            bestDiscount = item.discount;
                                                            hasDiscount = true;
                                                            discountedPrice =productData[i].price * (1 - bestDiscount / 100);
                                                        }
                                                    }
                                                });
                                      
                                                if (hasDiscount) { 
                                              %>
                                                <span class="product-label label-circle label-sale"><%= bestDiscount %>% OFF</span>
                                              <% } %>
                                                <a href="/showProduct?id=<%= productData[i]._id %>">
                                                    <img src="/uploads/<%= productData[i].images[0]%>"
                                                        alt="Product image" class="product-image">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <% if(typeof userData !=='undefined' ){ %>
                                                        <button class="btn-product-icon btn-wishlist" title="Add to wishlist" data-product-id="<%= productData?.[i]?._id %>"  data-user-id="<%= userData._id %>"></button>
                                                    <%}%>
                                                </div><!-- End .product-action -->

                                                <div class="product-action action-icon-top">
                                                   <% if(productData[i].stock != 0){%>
                                                    <% if(typeof userData=='undefined' ){ %>
                                                        <span class="btn-product text-danger">NO LOGGED</span>
                                                        <%} else {%>
                                                            <button class="btn-add-to-cart btn-product btn-primary " data-product-id="<%= productData?.[i]?._id %>"  data-user-id="<%= userData._id %>" >Add to Cart</button>
                                                            <%}%>
                                                        <%} else {%>
                                                            <span class="text-danger btn-product">Out of stock</span>
                                                            <%}%>

                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <!-- <a href="#">Women</a> -->
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a
                                                        href="/showProduct?id=<%= productData[i]._id %>">
                                                        <%= productData[i].product_name %>
                                                    </a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    <% if (hasDiscount) { %>
                                                        <span class="new-price">₹<%= discountedPrice.toFixed(2) %></span>
                                                        <span class="old-price text-primary" style="color:#16a8e6;"><s>₹<%= productData[i].price.toFixed(2) %></s></span>
                                                    <% } else { %>
                                                        ₹<%= productData[i].price.toFixed(2) %>
                                                    <% } %>
                                                </div><!-- End .product-price -->
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 0%;"></div>
                                                        <!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-text">( 0 Reviews )</span>
                                                </div><!-- End .rating-container -->

                                                <!-- <div class="product-nav product-nav-dots">
                                            <a href="#" style="background: #cc9966;"><span class="sr-only">Color name</span></a>
                                            <a href="#" class="active" style="background: #ebebeb;"><span class="sr-only">Color name</span></a>
                                        </div> -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div>
                                    <%}%><!-- End .col-sm-6 col-lg-4 col-xl-3 -->




                            </div><!-- End .row -->

                            <div class="load-more-container text-center">
                                <a href="#" class="btn btn-outline-darker btn-load-more">More Products <i
                                        class="icon-refresh"></i></a>
                            </div><!-- End .load-more-container -->
                        </div><!-- End .products -->

                        <div class="sidebar-filter-overlay"></div><!-- End .sidebar-filter-overlay -->
                       
                    </div><!-- End .container -->
                </div><!-- End .page-content -->
            </main><!-- End .main -->

            <footer class="footer">
                <div class="footer-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="widget widget-about">
                                    <img src="assets/newimages/logo.png" class="footer-logo" alt="Footer Logo"
                                        width="105" height="25">
                                    <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu
                                        vulputate magna eros eu erat. </p>

                                    <div class="social-icons">
                                        <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                                class="icon-facebook-f"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                                class="icon-twitter"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                                class="icon-instagram"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                                class="icon-youtube"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                                class="icon-pinterest"></i></a>
                                    </div><!-- End .soial-icons -->
                                </div><!-- End .widget about-widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="about.html">About Molla</a></li>
                                        <li><a href="#">How to shop on Molla</a></li>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="contact.html">Contact us</a></li>
                                        <li><a href="login.html">Log in</a></li>
                                    </ul><!-- End .widget-list -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="#">Payment Methods</a></li>
                                        <li><a href="#">Money-back guarantee!</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Shipping</a></li>
                                        <li><a href="#">Terms and conditions</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul><!-- End .widget-list -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="#">Sign In</a></li>
                                        <li><a href="cart.html">View Cart</a></li>
                                        <li><a href="#">My Wishlist</a></li>
                                        <li><a href="#">Track My Order</a></li>
                                        <li><a href="#">Help</a></li>
                                    </ul><!-- End .widget-list -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .footer-middle -->

                <div class="footer-bottom">
                    <div class="container">
                        <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                        <!-- End .footer-copyright -->
                        <figure class="footer-payments">
                            <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                        </figure><!-- End .footer-payments -->
                    </div><!-- End .container -->
                </div><!-- End .footer-bottom -->
            </footer><!-- End .footer -->
        </div><!-- End .page-wrapper -->
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

        <!-- Mobile Menu -->
        <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

        <div class="mobile-menu-container">
            <div class="mobile-menu-wrapper">
                <span class="mobile-menu-close"><i class="icon-close"></i></span>

                <nav class="mobile-nav">
                    <ul class="mobile-menu">
                        <li class="active">
                            <a href="#">Category</a>

                        </li>
                        <li>
                            <a href="/">Home</a>  
                        </li>
                        <li>
                            <a href="/shop">Shop</a>  
                        </li>
                        <li>
                            <a href="/wishlist">Wishlist</a>  
                        </li>
                        <li>
                            <a href="/cart">Cart</a>  
                        </li>
                        <li>
                            <a href="/dashboard">My Account</a>  
                        </li>
                        <li>
                            <a href="/wallet">Wallet</a>  
                        </li>
                    </ul>
                </nav>

                <div class="social-icons">
                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                </div><!-- End .social-icons -->
            </div><!-- End .mobile-menu-wrapper -->
        </div><!-- End .mobile-menu-container -->

        <!-- Sign in / Register Modal -->
        <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="icon-close"></i></span>
                        </button>

                        <div class="form-box">
                            <div class="form-tab">
                                <ul class="nav nav-pills nav-fill" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
                                            role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="register-tab" data-toggle="tab" href="#register"
                                            role="tab" aria-controls="register" aria-selected="false">Register</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="tab-content-5">
                                    <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                        aria-labelledby="signin-tab">
                                        <form action="#">
                                            <div class="form-group">
                                                <label for="singin-email">Username or email address *</label>
                                                <input type="text" class="form-control" id="singin-email"
                                                    name="singin-email" required>
                                            </div><!-- End .form-group -->

                                            <div class="form-group">
                                                <label for="singin-password">Password *</label>
                                                <input type="password" class="form-control" id="singin-password"
                                                    name="singin-password" required>
                                            </div><!-- End .form-group -->

                                            <div class="form-footer">
                                                <button type="submit" class="btn btn-outline-primary-2">
                                                    <span>LOG IN</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </button>

                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="signin-remember">
                                                    <label class="custom-control-label" for="signin-remember">Remember
                                                        Me</label>
                                                </div><!-- End .custom-checkbox -->

                                                <a href="#" class="forgot-link">Forgot Your Password?</a>
                                            </div><!-- End .form-footer -->
                                        </form>
                                        <div class="form-choice">
                                            <p class="text-center">or sign in with</p>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <a href="#" class="btn btn-login btn-g">
                                                        <i class="icon-google"></i>
                                                        Login With Google
                                                    </a>
                                                </div><!-- End .col-6 -->
                                                <div class="col-sm-6">
                                                    <a href="#" class="btn btn-login btn-f">
                                                        <i class="icon-facebook-f"></i>
                                                        Login With Facebook
                                                    </a>
                                                </div><!-- End .col-6 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .form-choice -->
                                    </div><!-- .End .tab-pane -->
                                    <div class="tab-pane fade" id="register" role="tabpanel"
                                        aria-labelledby="register-tab">
                                        <form action="#">
                                            <div class="form-group">
                                                <label for="register-email">Your email address *</label>
                                                <input type="email" class="form-control" id="register-email"
                                                    name="register-email" required>
                                            </div><!-- End .form-group -->

                                            <div class="form-group">
                                                <label for="register-password">Password *</label>
                                                <input type="password" class="form-control" id="register-password"
                                                    name="register-password" required>
                                            </div><!-- End .form-group -->

                                            <div class="form-footer">
                                                <button type="submit" class="btn btn-outline-primary-2">
                                                    <span>SIGN UP</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </button>

                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="register-policy" required>
                                                    <label class="custom-control-label" for="register-policy">I agree to
                                                        the <a href="#">privacy policy</a> *</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .form-footer -->
                                        </form>
                                        <div class="form-choice">
                                            <p class="text-center">or sign in with</p>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <a href="#" class="btn btn-login btn-g">
                                                        <i class="icon-google"></i>
                                                        Login With Google
                                                    </a>
                                                </div><!-- End .col-6 -->
                                                <div class="col-sm-6">
                                                    <a href="#" class="btn btn-login  btn-f">
                                                        <i class="icon-facebook-f"></i>
                                                        Login With Facebook
                                                    </a>
                                                </div><!-- End .col-6 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .form-choice -->
                                    </div><!-- .End .tab-pane -->
                                </div><!-- End .tab-content -->
                            </div><!-- End .form-tab -->
                        </div><!-- End .form-box -->
                    </div><!-- End .modal-body -->
                </div><!-- End .modal-content -->
            </div><!-- End .modal-dialog -->
        </div><!-- End .modal -->

        <script>
            document.querySelectorAll('.btn-product-icon').forEach(button => {
            button.addEventListener('click',async function() {
                const productId = this.getAttribute('data-product-id');
                const userId = this.getAttribute('data-user-id');
                try {
                   await fetch('/addWishlistItem', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productId,userId}),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            title: 'Success!',
                            text: "Product Added To Wishlist",
                            icon: 'success',
                            confirmButtonText: 'OK'
                        })
                    } else {
                        Swal.fire({
                            title: 'info',
                            text: data.message,
                            icon: 'info',
                            confirmButtonText: 'OK'
                        });
                    }
                });
                } catch (error) {
                    console.log(error.message);
                }
                
            });
            });



        </script>

        <script>
            document.querySelectorAll('.btn-add-to-cart').forEach(button => {
            button.addEventListener('click',async function() {
                const productId = this.getAttribute('data-product-id');
                const userId = this.getAttribute('data-user-id');
                const quantity = 1; 
                try {
                   await fetch('/addCartItem', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productId, quantity ,userId}),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            title: 'Success!',
                            text: "Product Added To Cart",
                            icon: 'success',
                            confirmButtonText: 'OK'
                        })
                    } else {
                        Swal.fire({
                            title: 'Error!',
                            text: "Not Added",
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
                } catch (error) {
                    console.log(error.message);
                }
                
            });
            });



        </script>
        <!-- Plugins JS File -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.hoverIntent.min.js"></script>
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <script src="assets/js/superfish.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/wNumb.js"></script>
        <script src="assets/js/bootstrap-input-spinner.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/nouislider.min.js"></script>
        <!-- Main JS File -->
        <script src="assets/js/main.js"></script>
    </body>

    <%- include('../layouts/footer.ejs') %>
        <!-- molla/category-boxed.html  22 Nov 2019 10:03:02 GMT -->