<%- include('../layouts/header.ejs') %>

    <body>
        <div class="page-wrapper">
            <header class="header">
                <div class="header-top">
                    <div class="container mb-2 pt-2 pb-2">
                        <div class="header-left">
                            <a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a>
                        </div><!-- End .header-left -->

                        <div class="header-right">

                            <ul class="top-menu">
                                <li>
                                    <a href="#">Links</a>
                                    <% if(typeof userData=='undefined' ){ %>
                                        <ul>
                                            <li><a href="#signin-modal" data-toggle="modal">Sign in / Sign up</a></li>
                                        </ul>
                                        <% } else {%>
                                            <ul>
                                                <li><a href="/logout" ">Log out</a></li>
                                    <li><a href="/dashboard" >
                                                        <%= userData.user_name %>
                                                    </a></li>
                                            </ul>
                                            <% } %>
                                </li>
                            </ul><!-- End .top-menu -->
                        </div><!-- End .header-right -->

                    </div><!-- End .container -->
                </div><!-- End .header-top -->

                <div class="header-middle sticky-header">
                    <div class="container">
                        <div class="header-left">
                            <button class="mobile-menu-toggler">
                                <span class="sr-only">Toggle mobile menu</span>
                                <i class="icon-bars"></i>
                            </button>

                            <a href="/" class="logo">
                                <img src="assets/newimages/logo.png" alt="Shoeazy Logo" width="150" height="25">
                            </a>
                        </div><!-- End .header-left -->

                        <div class="header-right">
                            <div class="header-search">
                                <a href="#" class="search-toggle" role="button" title="Search"><i
                                        class="icon-search"></i></a>
                                <form action="#" method="get">
                                    <div class="header-search-wrapper">
                                        <label for="q" class="sr-only">Search</label>
                                        <input type="search" class="form-control" name="q" id="q"
                                            placeholder="Search in..." required>
                                    </div><!-- End .header-search-wrapper -->
                                </form>
                            </div><!-- End .header-search -->
                            <div class="dropdown compare-dropdown">



                            </div><!-- End .compare-dropdown -->

                            <div class="header-right">
    
    
    
    
    
                                <div class="dropdown cart-dropdown">
                                    <a href="/cart" class=" dropdown-toggle">
    
                                        
                                        <div class="icon">
                                            <i class="icon-shopping-cart"></i>
                                            
                                        </div>
                                    </a>
    
                                </div><!-- End .header-right -->
                    </div><!-- End .container -->
                </div><!-- End .header-middle -->
            </header><!-- End .header -->

            <main class="main">
                <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                    <div class="container">
                        <h1 class="page-title">
                            All Products <span>Shop</span>
                        </h1>
                    </div><!-- End .container -->
                </div><!-- End .page-header -->
                <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">
                                   All Products
                                </a></li>


                        </ol>
                    </div><!-- End .container -->
                </nav><!-- End .breadcrumb-nav -->

                <div class="page-content">
                    <div class="container">
                        <div class="toolbox">
                            <div class="toolbox-left">
                                <a href="#" class="sidebar-toggler"><i class="icon-bars"></i>Filters</a>
                            </div><!-- End .toolbox-left -->

                            <div class="toolbox-center">
                                <div class="toolbox-info">
                                    <!-- Showing <span>12 of 56</span> Products -->
                                </div><!-- End .toolbox-info -->
                            </div><!-- End .toolbox-center -->

                            <div class="toolbox-right">
                              
                            </div><!-- End .toolbox-right -->
                        </div><!-- End .toolbox -->

                        <div class="products">
                            <div class="row">


                                
                                <% for (let i = 0; i < product.length; i++) { %>
                                    <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                      <div class="product">
                                        <figure class="product-media">
                                            <% 
                                            let bestDiscount = 0;
                                            let hasDiscount = false;
                                            let discountedPrice = product[i].price;
                                        
                                            
                                            offers.forEach((item) => {
                                                if (item.type === 'PRODUCT') {
                                                    item.products.forEach((Product) => {
                                                        if (String(product[i]._id) === String(Product._id)) {
                                                            if (item.discount > bestDiscount) {
                                                                bestDiscount = item.discount;
                                                                hasDiscount = true;
                                                                discountedPrice = product[i].price * (1 - bestDiscount / 100);
                                                            }
                                                        }
                                                    });
                                                }
                                            });
                                        
                                            // Check for category offers
                                            offers.forEach((item) => {
                                                if (item.type === 'CATEGORY') {
                                                    const categoryMatch = item.category.some(category => 
                                                        String(product[i].category) === String(category)
                                                    );
                                                    
                                                    if (categoryMatch && item.discount > bestDiscount) {
                                                        bestDiscount = item.discount;
                                                        hasDiscount = true;
                                                        discountedPrice = product[i].price * (1 - bestDiscount / 100);
                                                    }
                                                }
                                            });
                                  
                                            if (hasDiscount) { 
                                          %>
                                            <span class="product-label label-circle label-sale"><%= bestDiscount %>% OFF</span>
                                          <% } %>
                                          <a href="/showProduct?id=<%= product[i]._id %>">
                                            <img src="/uploads/<%= product[i].images[0]%>"
                                              alt="Product image" class="product-image">
                                          </a>
                                  
                                          <div class="product-action-vertical">
                                            <% if (typeof userData !== 'undefined') { %>
                                              <button class="btn-product-icon btn-wishlist" title="Add to wishlist" data-product-id="<%= product[i]._id %>" data-user-id="<%= userData._id %>"></button>
                                            <% } %>
                                          </div><!-- End .product-action -->
                                  
                                          <div class="product-action action-icon-top">
                                            <% if (product[i].stock != 0) { %>
                                              <% if (typeof userData === 'undefined') { %>
                                                <span class="btn-product text-danger">NO LOGGED</span>
                                              <% } else { %>
                                                <button class="btn-add-to-cart btn-product btn-primary" data-product-id="<%= product[i]._id %>" data-user-id="<%= userData._id %>">Add to Cart</button>
                                              <% } %>
                                            <% } else { %>
                                              <span class="text-danger btn-product">Out of stock</span>
                                            <% } %>
                                  
                                          </div>
                                        </figure>
                                  
                                        <div class="product-body">
                                          <div class="product-cat">
                                            
                                          </div>
                                          <h3 class="product-title"><a
                                              href="/showProduct?id=<%= product[i]._id %>">
                                              <%= product[i].product_name %>
                                            </a></h3>
                                            <div class="product-price">
                                                <% if (hasDiscount) { %>
                                                    <span class="new-price">₹<%= discountedPrice.toFixed(2) %></span>
                                                    <span class="old-price text-primary" style="color:#16a8e6;"><s>₹<%= product[i].price.toFixed(2) %></s></span>
                                                <% } else { %>
                                                    ₹<%= product[i].price.toFixed(2) %>
                                                <% } %>
                                            </div>
                                           
                                            
                                          <div class="ratings-container">
                                            <div class="ratings">
                                              <div class="ratings-val" style="width: 0%;"></div>
                                               
                                            </div>
                                            <span class="ratings-text">( 0 Reviews )</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  <% } %>




                            </div><!-- End .row -->

                            <div class="load-more-container text-center">
                                <a href="#" class="btn btn-outline-darker btn-load-more">More Products <i
                                        class="icon-refresh"></i></a>
                            </div><!-- End .load-more-container -->
                        </div><!-- End .products -->

                        <div class="sidebar-filter-overlay"></div><!-- End .sidebar-filter-overlay -->
                        <aside class="sidebar-shop sidebar-filter">
                            <div class="sidebar-filter-wrapper">
                                <div class="widget widget-clean">
                                    <label></label>
                                    <a href="#" class="sidebar-filter-clear">Clean All</a>
                                </div><!-- End .widget -->

                                <div class="widget widget-collapsible">
                                    <h3 class="widget-title">
                                        <a data-toggle="collapse" href="#widget-2" role="button" aria-expanded="true"
                                            aria-controls="widget-2">
                                           Filters
                                        </a>
                                    </h3><!-- End .widget-title -->

                                    <div class="collapse show" id="widget-2">
                                        <div class="widget-body">
                                            <div class="filter-items">
                                        
                                                <form action="/shop" id="advanced-search-form" method="GET">
                                                    <div class="widget widget-collapsible">
                                                        <h3 class="widget-title">
                                                            <a data-toggle="collapse" href="#widget-2" role="button" aria-expanded="true" aria-controls="widget-2">
                                                                Name
                                                            </a>
                                                        </h3>
                                                        <div class="collapse show" id="widget-2">
                                                            <div class="widget-body">
                                                                <div class="filter-items">
                                                                    <div class="filter-item">
                                                                        <div class="custom-control custom-radio">
                                                                            <input type="radio" class="custom-control-input" id="name_asc" name="sort" value="name_asc">
                                                                            <label class="custom-control-label" for="name_asc">aA - zZ</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="filter-item">
                                                                        <div class="custom-control custom-radio">
                                                                            <input type="radio" class="custom-control-input" id="name_desc" name="sort" value="name_desc">
                                                                            <label class="custom-control-label" for="name_desc">zZ - aA</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="widget widget-collapsible">
                                                        <h3 class="widget-title">
                                                            <a data-toggle="collapse" href="#widget-3" role="button" aria-expanded="true" aria-controls="widget-3">
                                                                Price
                                                            </a>
                                                        </h3>
                                                        <div class="collapse show" id="widget-3">
                                                            <div class="widget-body">
                                                                <div class="filter-items">
                                                                    <div class="filter-item">
                                                                        <div class="custom-control custom-radio">
                                                                            <input type="radio" class="custom-control-input" id="price_asc" name="sort" value="price_asc">
                                                                            <label class="custom-control-label" for="price_asc">Low - High</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="filter-item">
                                                                        <div class="custom-control custom-radio">
                                                                            <input type="radio" class="custom-control-input" id="price_desc" name="sort" value="price_desc">
                                                                            <label class="custom-control-label" for="price_desc">High - Low</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="load-more-container text-center">
                                                        <button type="submit" class="btn btn-outline-darker btn-load-more">Apply <i class="icon-refresh"></i></button>
                                                    </div>
                                                </form>
                            </div><!-- End .sidebar-filter-wrapper -->

                           
                        </aside><!-- End .sidebar-filter -->
                    </div><!-- End .container -->
                </div><!-- End .page-content -->
            </main><!-- End .main -->

            <footer class="footer">
                <div class="footer-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="widget widget-about">
                                    <img src="assets/newimages/logo.png" class="footer-logo" alt="Footer Logo"
                                        width="105" height="25">
                                    <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu
                                        vulputate magna eros eu erat. </p>

                                    <div class="social-icons">
                                        <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                                class="icon-facebook-f"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                                class="icon-twitter"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                                class="icon-instagram"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                                class="icon-youtube"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                                class="icon-pinterest"></i></a>
                                    </div><!-- End .soial-icons -->
                                </div><!-- End .widget about-widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="about.html">About Molla</a></li>
                                        <li><a href="#">How to shop on Molla</a></li>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="contact.html">Contact us</a></li>
                                        <li><a href="login.html">Log in</a></li>
                                    </ul><!-- End .widget-list -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="#">Payment Methods</a></li>
                                        <li><a href="#">Money-back guarantee!</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Shipping</a></li>
                                        <li><a href="#">Terms and conditions</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul><!-- End .widget-list -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="#">Sign In</a></li>
                                        <li><a href="cart.html">View Cart</a></li>
                                        <li><a href="#">My Wishlist</a></li>
                                        <li><a href="#">Track My Order</a></li>
                                        <li><a href="#">Help</a></li>
                                    </ul><!-- End .widget-list -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .footer-middle -->

                <div class="footer-bottom">
                    <div class="container">
                        <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                        <!-- End .footer-copyright -->
                        <figure class="footer-payments">
                            <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                        </figure><!-- End .footer-payments -->
                    </div><!-- End .container -->
                </div><!-- End .footer-bottom -->
            </footer><!-- End .footer -->
        </div><!-- End .page-wrapper -->
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

        <!-- Mobile Menu -->
        <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

        <div class="mobile-menu-container">
            <div class="mobile-menu-wrapper">
                <span class="mobile-menu-close"><i class="icon-close"></i></span>

                <form action="#" method="get" class="mobile-search">
                    <label for="mobile-search" class="sr-only">Search</label>
                    <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                        placeholder="Search in..." required>
                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                </form>

                
                <div class="social-icons">
                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                </div><!-- End .social-icons -->
            </div><!-- End .mobile-menu-wrapper -->
        </div><!-- End .mobile-menu-container -->

      
        <script>
            document.querySelectorAll('.btn-product-icon').forEach(button => {
            button.addEventListener('click',async function() {
                const productId = this.getAttribute('data-product-id');
                const userId = this.getAttribute('data-user-id');
                try {
                   await fetch('/addWishlistItem', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productId,userId}),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            title: 'Success!',
                            text: "Product Added To Wishlist",
                            icon: 'success',
                            confirmButtonText: 'OK'
                        })
                    } else {
                        Swal.fire({
                            title: 'Error!',
                            text: data.message,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
                } catch (error) {
                    console.log(error.message);
                }
                
            });
            });



        </script>

        <script>
            document.querySelectorAll('.btn-add-to-cart').forEach(button => {
            button.addEventListener('click',async function() {
                const productId = this.getAttribute('data-product-id');
                const userId = this.getAttribute('data-user-id');
                const quantity = 1; 
                try {
                   await fetch('/addCartItem', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productId, quantity ,userId}),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            title: 'Success!',
                            text: "Product Added To Cart",
                            icon: 'success',
                            confirmButtonText: 'OK'
                        })
                    } else {
                        Swal.fire({
                            title: 'Error!',
                            text: "Not Added",
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
                } catch (error) {
                    console.log(error.message);
                }
                
            });
            });



        </script>

<script>
    document.getElementById('advanced-search-form').addEventListener('submit', function(e) {
        e.preventDefault();
        
        const formData = new FormData(this);
        const searchParams = new URLSearchParams(formData);
        
        // Get the current URL
        const currentUrl = new URL(window.location.href);
        
        // Update or add the sort parameter
        for (let [key, value] of searchParams) {
            if (value) {
                currentUrl.searchParams.set(key, value);
            } else {
                currentUrl.searchParams.delete(key);
            }
        }
        
        // Redirect to the updated URL
        window.location.href = currentUrl.toString();
    });

    document.addEventListener('DOMContentLoaded', function() {
        const currentSort = '<%= sort %>';
        if (currentSort) {
            const radio = document.querySelector(`input[name="sort"][value="${currentSort}"]`);
            if (radio) {
                radio.checked = true;
            }
        }
    });
</script>   <!-- Plugins JS File -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.hoverIntent.min.js"></script>
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <script src="assets/js/superfish.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/wNumb.js"></script>
        <script src="assets/js/bootstrap-input-spinner.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/nouislider.min.js"></script>
        <!-- Main JS File -->
        <script src="assets/js/main.js"></script>
    </body>

    <%- include('../layouts/footer.ejs') %>
        <!-- molla/category-boxed.html  22 Nov 2019 10:03:02 GMT -->