<%- include('../layouts/header.ejs') %>

    <body>
        <div class="page-wrapper">
            <header class="header header-intro-clearance header-4">
                <div class="header-top">
                    <div class="container mb-2 pt-2 pb-2">
                        <div class="header-left">
                            <a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a>
                        </div><!-- End .header-left -->

                        <div class="header-right">

                            <ul class="top-menu">
                                <li>
                                    <a href="#">Links</a>
                                    <% if(typeof userData=='undefined' ){ %>
                                        <ul>
                                            <li><a href="#signin-modal" data-toggle="modal">Sign in / Sign up</a></li>
                                        </ul>
                                        <% } else {%>
                                            <ul>
                                                <li><a href="/logout" ">Log out</a></li>
                                        <li><a href="/dashboard" >
                                                        <%= userData.user_name %>
                                                    </a></li>
                                            </ul>
                                            <% } %>
                                </li>
                            </ul><!-- End .top-menu -->
                        </div><!-- End .header-right -->

                    </div><!-- End .container -->
                </div><!-- End .header-top -->


                <!-- login and registration start -->


                <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="icon-close"></i></span>
                                </button>

                                <div class="form-box">
                                    <div class="form-tab">
                                        <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="signin-tab" data-toggle="tab"
                                                    href="#signin" role="tab" aria-controls="signin"
                                                    aria-selected="true">Sign In</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="register-tab" data-toggle="tab" href="#register"
                                                    role="tab" aria-controls="register"
                                                    aria-selected="false">Register</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="tab-content-5">
                                            <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                                aria-labelledby="signin-tab">
                                                <form id="login-form">
                                                    <div class="form-group">
                                                        <label for="singin-email" class="errMsg">Username or email
                                                            address *</label>
                                                        <input type="text" class="form-control" id="singin-email"
                                                            name="signin-email">
                                                    </div><!-- End .form-group -->

                                                    <div class="form-group">
                                                        <label for="singin-password" class="errMsg">Password *</label>
                                                        <input type="password" class="form-control" id="singin-password"
                                                            name="signin-password">
                                                    </div><!-- End .form-group -->

                                                    <p class="main-error text-danger"></p>

                                                    <div class="form-footer">
                                                        <button type="submit" class="btn btn-outline-primary-2">
                                                            <span>LOG IN</span>
                                                            <i class="icon-long-arrow-right"></i>
                                                        </button>

                                                        <p class="main-error1 text-danger"></p>
                                                        <a href="/forgotPassword" class="forgot-link">Forgot Your Password?</a>
                                                    </div><!-- End .form-footer -->
                                                </form>
                                                <div class="form-choice">
                                                    <p class="text-center">or sign in with</p>
                                                    <div class="row justify-content-center">
                                                        <div class="col-sm-6">
                                                            <a href='/auth/google' class="btn btn-login btn-g">
                                                                <i class="icon-google"></i>
                                                                Login With Google
                                                            </a>
                                                        </div><!-- End .col-6 -->
                                                        <!-- End .col-6 -->
                                                    </div><!-- End .row -->
                                                </div><!-- End .form-choice -->
                                            </div><!-- .End .tab-pane -->





                                            <div class="tab-pane fade" id="register" role="tabpanel"
                                                aria-labelledby="register-tab">
                                                <form id="signup-form">

                                                    <div class="form-group">
                                                        <label for="register-phone" class="errMsgSignup">User name
                                                            *</label>
                                                        <input type="text" class="form-control" id="register-name"
                                                            name="register-name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="register-email" class="errMsgSignup">Your email
                                                            address *</label>

                                                        <input type="email" class="form-control" id="register-email"
                                                            name="register-email">
                                                    </div><!-- End .form-group -->
                                                    <div class="form-group">
                                                        <label for="register-phone" class="errMsgSignup">Password
                                                            *</label>
                                                        <input type="password" class="form-control"
                                                            id="register-password0" name="register-password0">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="register-password" class="errMsgSignup">Confirm
                                                            password *</label>
                                                        <input type="password" class="form-control"
                                                            id="register-password" name="register-password">
                                                    </div>

                                                    <!-- End .form-group -->
                                                    <p class="main-error1 text-danger"></p>
                                                    <div class="form-footer">
                                                        <button type="submit" class="btn btn-outline-primary-2">
                                                            <span>SIGN UP</span>
                                                            <i class="icon-long-arrow-right"></i>
                                                        </button>
                                                    </div><!-- End .form-footer -->
                                                </form>

                                            </div><!-- .End .tab-pane -->
                                        </div><!-- End .tab-content -->
                                    </div><!-- End .form-tab -->
                                </div><!-- End .form-box -->
                            </div><!-- End .modal-body -->
                        </div><!-- End .modal-content -->
                    </div><!-- End .modal-dialog -->
                </div><!-- End .modal -->

                <!-- login and registration end -->


                <div class="header-middle">
                    <div class="container">
                        <div class="header-left">
                            <button class="mobile-menu-toggler">
                                <span class="sr-only">Toggle mobile menu</span>
                                <i class="icon-bars"></i>
                            </button>

                            <a href="/" class="logo">
                                <img src="assets/newimages/logo.png" alt="Shoeazy Logo" width="150" height="25">
                            </a>
                        </div><!-- End .header-left -->

                        <div class="header-center">
                            <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                                <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                                
                                <form id="advanced-search-form" action="/search-results" method="GET">
                                    <div class="header-search-wrapper search-wrapper-wide">
                                        <label for="q" class="sr-only">Search</label>
                                        <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                        <input type="text" class="form-control" name="q" id="search-query" placeholder="Search product ..." required>
                                    </div>
                                </form>
                            </div><!-- End .header-search -->
                        </div>

                        <div class="header-right">

                            <div class="dropdown compare-dropdown">
                                <a href="/wallet" class="dropdown-toggle" role="button" >
                                    <div class="icon">
                                        <i class="fa-solid fa-wallet" style="color: #000000;"></i>
                                    </div>
                                    <p>Wallet</p>
                                </a>
                            </div>




                            <div class="wishlist">
                                <a href="/wishlist" title="Wishlist">
                                    <div class="icon">
                                        <i class="icon-heart-o"></i>
                                        <!-- <span class="wishlist-count badge">3</span> -->
                                    </div>
                                    <p>Wishlist</p>
                                </a>
                            </div><!-- End .compare-dropdown -->





                            <%if(typeof cartItems =='undefined') {%>
                            <div class="dropdown cart-dropdown">
                                <a href="#" class=" dropdown-toggle" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" data-display="static">
                                    
                                </a>
                                <a href="/nonUserCart" class=" dropdown-toggle">

                                   
                                        <div class="icon">
                                            <i class="icon-shopping-cart"></i>
                                            <!-- <span class="cart-count">2</span> -->
                                        </div>
                                   
                                        
                                       
                                    <p>Cart</p>
                                </a>
                            </div>
                            <%}else {%>
                            <div class="dropdown cart-dropdown">
                                <a href="#" class=" dropdown-toggle" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" data-display="static">
                                    
                                </a>
                                <a href="/cart" class=" dropdown-toggle">

                                   
                                    <div class="icon">
                                        <i class="icon-shopping-cart"></i>
                                        <span class="cart-count"><%=cartItems.length%></span>
                                    </div>
                                    <p>Cart</p>
                                </a>
                            </div>
                            <%}%>

                        </div><!-- End .container -->
                    </div><!-- End .header-middle -->

                    <div class="header-bottom sticky-header">
                        <div class="container">
                            <div class="header-left">
                                <div class="dropdown category-dropdown">
                                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                                        Mobile Categories <i class="icon-angle-down"></i>
                                    </a>
        
                                    <div class="dropdown-menu">
                                        <nav class="side-nav">
                                            <ul class="menu-vertical sf-arrows sf-js-enabled" style="touch-action: pan-y;">
                                                <%category.forEach(x=>{ %>
                                                <li class="item-lead"><a href="/productCategories?id=<%=x._id%>"><%= x.category_name%></a></li>
                                               <%})%>
                                            </ul><!-- End .menu-vertical -->
                                        </nav><!-- End .side-nav -->
                                    </div><!-- End .dropdown-menu -->
                                </div>
                            </div><!-- End .header-left -->

                            <div class="header-center">
                                <nav class="main-nav">
                                    <ul class="menu sf-arrows">
                                        <li class="">
                                            <a href="/shop" >Shop</a>
                                          
                                        </li>
                                    </ul><!-- End .menu -->
                                </nav><!-- End .main-nav -->
                            </div><!-- End .header-center -->
                            <div class="col-lg-9">
                                

                            <div class="header-right">
                                <i class="la la-lightbulb-o"></i>
                                <p>Clearance<span class="highlight">&nbsp;Up to 30% Off</span></p>
                            </div>
                        </div><!-- End .container -->
                    </div><!-- End .header-bottom -->
            </header><!-- End .header -->

            <main class="main">
                <div class="intro-slider-container mb-5">
                    <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl"
                        data-owl-options='{
                        "dots": true,
                        "nav": false, 
                        "responsive": {
                            "1200": {
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'>
                        <div class="intro-slide"
                            style="background-image: url(assets/images/demos/demo-4/slider/slide-1.png);">
                            <div class="container intro-content">
                                <div class="row justify-content-end">
                                    <div class="col-auto col-sm-7 col-md-6 col-lg-5">
                                        <h3 class="intro-subtitle text-third"></h3>
                                        <!-- End .h3 intro-subtitle -->
                                        <h1 class="intro-title"></h1>
                                        <h1 class="intro-title"></h1><!-- End .intro-title -->




                                    </div><!-- End .col-lg-11 offset-lg-1 -->
                                </div><!-- End .row -->
                            </div><!-- End .intro-content -->
                        </div><!-- End .intro-slide -->


                    </div><!-- End .intro-slider owl-carousel owl-simple -->

                    <span class="slider-loader"></span><!-- End .slider-loader -->
                </div><!-- End .intro-slider-container -->



                <div id="search-results"></div>




                <div class="container">
                    <h2 class="title text-center mb-4">Explore Popular Categories</h2><!-- End .title text-center -->

                    <div class="cat-blocks-container">
                        <div class="row">
                            <div class="col-6 col-sm-4 col-lg-2 search-results">
                                <a href="/productCategories?id=66a09a36e614edb7e3185810" class="cat-block">
                                    <figure>
                                        <span>
                                            <img src="assets/newimages/5gsmrtpns.webp" alt="Category image">
                                        </span>
                                    </figure>

                                    <h3 class="cat-block-title">5G SMARTPHONES</h3><!-- End .cat-block-title -->
                                </a>
                            </div><!-- End .col-sm-4 col-lg-2 -->

                            <div class="col-6 col-sm-4 col-lg-2">
                                <a href="/productCategories?id=66a09a63951571753bb9af6f" class="cat-block">
                                    <figure>
                                        <span>
                                            <img src="assets/newimages/featurephones.jpg" alt="Category image">
                                        </span>
                                    </figure>

                                    <h3 class="cat-block-title">FEATURE PHONES</h3><!-- End .cat-block-title -->
                                </a>
                            </div><!-- End .col-sm-4 col-lg-2 -->

                            <div class="col-6 col-sm-4 col-lg-2">
                                <a href="/productCategories?id=66a2370011d5e778af75f157" class="cat-block">
                                    <figure>
                                        <span>
                                            <img src="assets/newimages/newarrival.jpg" alt="Category image">
                                        </span>
                                    </figure>

                                    <h3 class="cat-block-title">NEW ARRIVALS</h3><!-- End .cat-block-title -->
                                </a>
                            </div><!-- End .col-sm-4 col-lg-2 -->

                            <div class="col-6 col-sm-4 col-lg-2">
                                <a href="/productCategories?id=66a53d471bd7369a46cafb83" class="cat-block">
                                    <figure>
                                        <span>
                                            <img src="assets/newimages/valueformoney.jpg" alt="Category image">
                                        </span>
                                    </figure>

                                    <h3 class="cat-block-title">VALUE FOR MONEY</h3><!-- End .cat-block-title -->
                                </a>
                            </div><!-- End .col-sm-4 col-lg-2 -->

                            <div class="col-6 col-sm-4 col-lg-2">
                                <a href="/productCategories?id=66a53d9d1bd7369a46cafb88" class="cat-block">
                                    <figure>
                                        <span>
                                            <img src="assets/newimages/gamingphones.jpg" alt="Category image">
                                        </span>
                                    </figure>

                                    <h3 class="cat-block-title">GAMING PHONES</h3><!-- End .cat-block-title -->
                                </a>
                            </div><!-- End .col-sm-4 col-lg-2 -->

                            <div class="col-6 col-sm-4 col-lg-2">
                                <a href="/productCategories?id=66a53dc01bd7369a46cafb8b" class="cat-block">
                                    <figure>
                                        <span>
                                            <img src="assets/newimages/flagship.jpg" alt="Category image">
                                        </span>
                                    </figure>

                                    <h3 class="cat-block-title">FLAGSHIP PHONES </h3><!-- End .cat-block-title -->
                                </a>
                            </div><!-- End .col-sm-4 col-lg-2 -->
                        </div><!-- End .row -->
                    </div><!-- End .cat-blocks-container -->
                </div>










                <!-- End .cat-blocks-container -->
                <div class="mb-4"></div><!-- End .mb-4 -->

                <!-- End .container -->

                <!-- End .heading -->

                <div class="mb-6"></div><!-- End .mb-6 -->




                

                <div class="container for-you">
                    <div class="heading heading-flex mb-3">
                        <div class="heading-left">
                            <h2 class="title">New Arrivals</h2><!-- End .title -->
                        </div><!-- End .heading-left -->
    
                       <div class="heading-right">
                            <a href="/shop" class="title-link">View All Recommendadion <i class="icon-long-arrow-right"></i></a>
                       </div><!-- End .heading-right -->
                    </div><!-- End .heading -->
    
                    <div class="products">
                        <div class="row">



                            <% for(let i=0;i<12;i++){ %>
                                <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                    <div class="product">
                                        <figure class="product-media">
                                            <% 
                                            let bestDiscount = 0;
                                            let hasDiscount = false;
                                            let discountedPrice = product[i].price;
                                        
                                            
                                            offers.forEach((item) => {
                                                if (item.type === 'PRODUCT') {
                                                    item.products.forEach((Product) => {
                                                        if (String(product[i]._id) === String(Product._id)) {
                                                            if (item.discount > bestDiscount) {
                                                                bestDiscount = item.discount;
                                                                hasDiscount = true;
                                                                discountedPrice = product[i].price * (1 - bestDiscount / 100);
                                                            }
                                                        }
                                                    });
                                                }
                                            });
                                        
                                            // Check for category offers
                                            offers.forEach((item) => {
                                                if (item.type === 'CATEGORY') {
                                                    const categoryMatch = item.category.some(category => 
                                                        String(product[i].category) === String(category)
                                                    );
                                                    
                                                    if (categoryMatch && item.discount > bestDiscount) {
                                                        bestDiscount = item.discount;
                                                        hasDiscount = true;
                                                        discountedPrice = product[i].price * (1 - bestDiscount / 100);
                                                    }
                                                }
                                            });
                                        
                                            if (hasDiscount) { 
                                            %>
                                                <span class="product-label label-circle label-sale"><%= bestDiscount %>% OFF</span>
                                            <% } %>
                                        
                                            <a href="/showProduct?id=<%= product[i]._id %>">
                                                <img src="/uploads/<%= product[i].images[0]%>"
                                                    alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <% if(typeof userData !=='undefined' ){ %>
                                                    <button class="btn-product-icon btn-wishlist" title="Add to wishlist" data-product-id="<%= product?.[i]?._id %>"  data-user-id="<%= userData._id %>"></button>
                                                <%}%>
                                            </div><!-- End .product-action -->

                                            <div class="product-action action-icon-top">
                                               <% if(product[i].stock != 0){%>
                                                <% if(typeof userData=='undefined' ){ %>
                                                    <span class="btn-product text-danger">NO LOGGED</span>
                                                    <%} else {%>
                                                        <button class="btn-add-to-cart btn-product btn-primary " data-product-id="<%= product?.[i]?._id %>"  data-user-id="<%= userData._id %>" >Add to Cart</button>
                                                        <%}%>
                                                    <%} else {%>
                                                        <span class="text-danger btn-product">Out of stock</span>
                                                        <%}%>

                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <!-- <a href="#">Women</a> -->
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a
                                                    href="/showProduct?id=<%= product[i]._id %>">
                                                    <%= product[i].product_name %>
                                                </a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    <% if (hasDiscount) { %>
                                                        <span class="new-price">₹<%= discountedPrice.toFixed(2) %></span>
                                                        <span class="old-price text-primary" style="color:#16a8e6;"><s>₹<%= product[i].price.toFixed(2) %></s></span>
                                                    <% } else { %>
                                                        ₹<%= product[i].price.toFixed(2) %>
                                                    <% } %>
                                                </div>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 0%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">( 0 Reviews )</span>
                                            </div><!-- End .rating-container -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div>
                                
                                <%}%><!-- End .col-sm-6 col-lg-4 col-xl-3 -->




                        </div><!-- End .row -->

                        
                    </div><!-- End .products -->

                </div>













                <div class="mb-4"></div><!-- End .mb-4 -->

                <div class="container">
                    <hr class="mb-0">
                </div><!-- End .container -->

                <div class="icon-boxes-container bg-transparent">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon text-dark">
                                        <i class="icon-rocket"></i>
                                    </span>
                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                        <p>Orders $50 or more</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon text-dark">
                                        <i class="icon-rotate-left"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                        <p>Within 30 days</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon text-dark">
                                        <i class="icon-info-circle"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                                        <p>when you sign up</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon text-dark">
                                        <i class="icon-life-ring"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                                        <p>24/7 amazing services</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .icon-boxes-container -->
            </main><!-- End .main -->

            <footer class="footer">
                <div class="cta bg-image bg-dark pt-4 pb-5 mb-0"
                    style="background-image: url(assets/images/demos/demo-4/bg-5.jpg);">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-sm-10 col-md-8 col-lg-6">
                                <div class="cta-heading text-center">
                                    <h3 class="cta-title text-white">Get The Latest Deals</h3><!-- End .cta-title -->
                                    <p class="cta-desc text-white">and receive <span class="font-weight-normal">$20
                                            coupon</span> for first shopping</p><!-- End .cta-desc -->
                                </div><!-- End .text-center -->

                                <form action="#">
                                    <div class="input-group input-group-round">
                                        <input type="email" class="form-control form-control-white"
                                            placeholder="Enter your Email Address" aria-label="Email Adress" required>
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit"><span>Subscribe</span><i
                                                    class="icon-long-arrow-right"></i></button>
                                        </div><!-- .End .input-group-append -->
                                    </div><!-- .End .input-group -->
                                </form>
                            </div><!-- End .col-sm-10 col-md-8 col-lg-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .cta -->
                <div class="footer-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="widget widget-about">
                                    <img src="assets/newimages/logo.png" class="footer-logo" alt="Footer Logo"
                                        width="150" height="25">
                                    <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu
                                        vulputate magna eros eu erat. </p>

                                    <div class="widget-call">
                                        <i class="icon-phone"></i>
                                        Got Question? Call us 24/7
                                        <a href="tel:#">+0123 456 789</a>
                                    </div><!-- End .widget-call -->
                                </div><!-- End .widget about-widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="about.html">About shopEazy</a></li>
                                        <li><a href="#">Our Services</a></li>
                                        <li><a href="#">How to shop on shopEazy</a></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="contact.html">Contact us</a></li>
                                    </ul><!-- End .widget-list -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="#">Payment Methods</a></li>
                                        <li><a href="#">Money-back guarantee!</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Shipping</a></li>
                                        <li><a href="#">Terms and conditions</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul><!-- End .widget-list -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="#">Sign In</a></li>
                                        <li><a href="cart.html">View Cart</a></li>
                                        <li><a href="#">My Wishlist</a></li>
                                        <li><a href="#">Track My Order</a></li>
                                        <li><a href="#">Help</a></li>
                                    </ul><!-- End .widget-list -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .footer-middle -->

                <div class="footer-bottom">
                    <div class="container">
                        <p class="footer-copyright">Copyright © 2024 shopEazy Store. All Rights Reserved.</p>
                        <!-- End .footer-copyright -->
                        <figure class="footer-payments">
                            <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                        </figure><!-- End .footer-payments -->
                    </div><!-- End .container -->
                </div><!-- End .footer-bottom -->
            </footer><!-- End .footer -->
        </div><!-- End .page-wrapper -->
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

        <!-- Mobile Menu -->
        <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

        <div class="mobile-menu-container mobile-menu-light">
            <div class="mobile-menu-wrapper">
                <span class="mobile-menu-close"><i class="icon-close"></i></span>

                <form action="#" method="get" class="mobile-search">
                    <label for="mobile-search" class="sr-only">Search</label>
                    <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                        placeholder="Search in..." required>
                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                </form>

                <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab"
                            role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab"
                            aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel"
                        aria-labelledby="mobile-menu-link">
                        <nav class="mobile-nav">
                            <ul class="mobile-menu">

                                <li>
                                    <a href="category.html">Shop</a>
                                    <ul>
                                        <li><a href="category-list.html">sample</a></li>
                                        <li><a href="category-2cols.html">Sample2</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="product.html" class="sf-with-ul">Product</a>
                                    <ul>
                                        <li><a href="product.html">Sample</a></li>
                                        <li><a href="product-centered.html">Sample2</a></li>

                                    </ul>
                                </li>
                                <!-- <li>
                                    <a href="#">Pages</a>
                                    <ul>
                                        <li>
                                            <a href="about.html">About</a>

                                            <ul>
                                                <li><a href="about.html">About 01</a></li>
                                                <li><a href="about-2.html">About 02</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="contact.html">Contact</a>

                                            <ul>
                                                <li><a href="contact.html">Contact 01</a></li>
                                                <li><a href="contact-2.html">Contact 02</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="faq.html">FAQs</a></li>
                                        <li><a href="404.html">Error 404</a></li>
                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                    </ul>
                                </li>-->

                                <li>
                                    <a href="elements-list.html">Elements</a>
                                    <ul>

                                    </ul>
                        </nav><!-- End .mobile-nav -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                        <nav class="mobile-cats-nav">
                            <ul class="mobile-cats-menu">
                                <li><a class="mobile-cats-lead" href="#">Daily offers</a></li>
                                <li><a class="mobile-cats-lead" href="#">Gift Ideas</a></li>

                            </ul><!-- End .mobile-cats-menu -->
                        </nav><!-- End .mobile-cats-nav -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->

                <div class="social-icons">
                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                </div><!-- End .social-icons -->
            </div><!-- End .mobile-menu-wrapper -->
        </div><!-- End .mobile-menu-container -->
        <script>
            document.querySelectorAll('.btn-product-icon').forEach(button => {
            button.addEventListener('click',async function() {
                const productId = this.getAttribute('data-product-id');
                const userId = this.getAttribute('data-user-id');
                try {
                   await fetch('/addWishlistItem', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productId,userId}),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            title: 'Success!',
                            text: "Product Added To Wishlist",
                            icon: 'success',
                            confirmButtonText: 'OK'
                        })
                    } else {
                        Swal.fire({
                            title: 'Error!',
                            text: data.message,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
                } catch (error) {
                    console.log(error.message);
                }
                
            });
            });



        </script>
        <!-- Sign in / Register Modal -->
        <script>

            const form = document.getElementById('login-form');
            const email = document.getElementById('singin-email');
            const password = document.getElementById('singin-password');

            form.addEventListener('submit', function (event) {
                event.preventDefault();

                const emailVal = email.value.trim();
                const passVal = password.value.trim();

                validateForm(emailVal, passVal);
            });

            function isValidEmail(email) {
                const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(email).toLowerCase());
            }

            const setError = (element, message) => {
                console.log(element, message);
                const formGroup = element.parentElement;
                const errorDisplay = formGroup.querySelector('.errMsg');

                errorDisplay.innerText = message; formGroup
                element.classList.add('error');
                errorDisplay.classList.add('error');
                element.classList.remove('success');
                errorDisplay.classList.remove('success');
            }

            const setSuccess = (element, message) => {
                const formGroup = element.parentElement;
                const errorDisplay = formGroup.querySelector('.errMsg');

                errorDisplay.innerText = message;
                element.classList.add('success');
                errorDisplay.classList.add('success');
                element.classList.remove('error');
                errorDisplay.classList.remove('error');
            }

            const validateForm = async (emailVal, passVal) => {

                let isValid = true;

                if (emailVal === '') {
                    setError(email, 'Enter your email');
                    isValid = false;
                } else if (!isValidEmail(emailVal)) {
                    setError(email, 'Enter a valid email');
                    isValid = false;
                } else {
                    setSuccess(email, 'Username or email address');
                }

                if (passVal === '') {
                    setError(password, 'Enter your password');
                    isValid = false;
                } else {
                    setSuccess(password, 'Password');
                }

                if (!isValid) {
                    return;
                }

                const response = await fetch('/signin', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        email: emailVal,
                        password: passVal
                    })
                });

                const message = await response.json();

                if (message.success) {
                    window.location.href = '/home';
                } else if (!message.success) {

                    document.querySelector('.main-error').innerText = message.msg;

                    email.classList.add('error');
                    email.classList.remove('success');
                    password.classList.add('error');
                    password.classList.remove('success');
                }
            }
        </script>
        <script>
            const signupform = document.getElementById('signup-form');
            const username = document.getElementById('register-name');
            const useremail = document.getElementById('register-email');
            const userpassword = document.getElementById('register-password0');
            const userconfirmPassword = document.getElementById('register-password');

            signupform.addEventListener('submit', function (event) {
                event.preventDefault();

                const nameValue = username.value.trim();
                const emailValue = useremail.value.trim();
                const passValue = userpassword.value.trim();
                const confirmPassValue = userconfirmPassword.value.trim();

                validateRegisterForm(nameValue, emailValue, passValue, confirmPassValue);
            });

            function userisValidEmail(useremail) {
                const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(useremail).toLowerCase());
            }

            const setError1 = (element, message) => {
                const formGroup1 = element.parentElement;
                const errorDisplay = formGroup1.querySelector('.errMsgSignup');

                errorDisplay.innerText = message;
                element.classList.add('error');
                errorDisplay.classList.add('error');
                element.classList.remove('success');
                errorDisplay.classList.remove('success');
            }

            const setSuccess1 = (element, message) => {
                const formGroup1 = element.parentElement;
                const errorDisplay = formGroup1.querySelector('.errMsgSignup');

                errorDisplay.innerText = message;
                element.classList.add('success');
                errorDisplay.classList.add('success');
                element.classList.remove('error');
                errorDisplay.classList.remove('error');
            }

            const validateRegisterForm = async (nameValue, emailValue, passValue, confirmPassValue) => {
                let isValid = true;

                if (passValue === '') {
                    setError1(userpassword, 'Enter your password');
                    isValid = false;
                } else if (passValue.length < 8) {
                    setError1(userpassword, 'Password must be at least 8 characters long');
                    isValid = false;
                } else {
                    setSuccess1(userpassword, 'Password *');
                }
                if (emailValue === '') {
                    setError1(useremail, 'Enter your email');
                    isValid = false;
                } else if (!userisValidEmail(emailValue)) {
                    setError1(useremail, 'Enter a valid email');
                    isValid = false;
                } else {
                    setSuccess1(useremail, 'Your email address *');
                }

                if (confirmPassValue === '') {
                    setError1(userconfirmPassword, 'Enter your confirm password');
                    isValid = false;
                } else if (passValue !== confirmPassValue) {
                    setError1(userconfirmPassword, 'Your password and confirm password do not match');
                    isValid = false;
                } else {
                    setSuccess1(userconfirmPassword, 'Confirm password *');
                }
                const nameRegex = /^[a-zA-Z\s]+$/;
                if (nameValue === '') {
                    setError1(username, 'Enter your name');
                    isValid = false;
                } else if (!nameRegex.test(nameValue)) {
                    setError1(username, 'Name should only contain letters and spaces');
                    isValid = false;
                } else {
                    setSuccess1(username, 'User name *');
                }
                if (passValue !== confirmPassValue) {
                    setError1(userconfirmPassword, 'Your password and confirm password do not match');
                    isValid = false;
                } else {
                    setSuccess1(userconfirmPassword, 'Confirm password *');
                }

                if (!isValid) {
                    return;
                }


                try {
                    const response = await fetch('/signup', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            email: emailValue,
                            password: confirmPassValue,
                            name: nameValue
                        })
                    });

                    const message = await response.json();

                    if (message.success) {
                        window.location.href = message.redirectUrl || '/otpValidate';
                    } else {
                        document.querySelector('.main-error1').innerText = message.message || 'An error occurred during signup';
                        useremail.classList.add('error');
                        useremail.classList.remove('success');
                    }
                } catch (error) {
                    console.error('Error during signup:', error);
                    document.querySelector('.main-error').innerText = 'An unexpected error occurred. Please try again.';
                }
            }
        </script>

        <script>
            document.querySelectorAll('.btn-add-to-cart').forEach(button => {
            button.addEventListener('click',async function() {
                const productId = this.getAttribute('data-product-id');
                const userId = this.getAttribute('data-user-id');
                const quantity = 1; 
                try {
                   await fetch('/addCartItem', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productId, quantity ,userId}),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            title: 'Success!',
                            text: "Product Added To Cart",
                            icon: 'success',
                            confirmButtonText: 'OK'
                        })
                    } else {
                        Swal.fire({
                            title: 'Error!',
                            text: data.message,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
                } catch (error) {
                    console.log(error.message);
                }
                
            });
            });



        </script>
        <script>
        const searchForm = document.getElementById('advanced-search-form');
        const sortSelect = document.getElementById('sort-option');

        
        function updateSort(sortValue) {
            const url = new URL(window.location);
            url.searchParams.set('sort', sortValue);
            window.history.pushState({}, '', url);
            
           
            window.location.reload();
        }

       
        if (sortSelect) {
            sortSelect.addEventListener('change', function() {
                updateSort(this.value);
            });
        }

        
        if (sortSelect) {
            const urlParams = new URLSearchParams(window.location.search);
            const currentSort = urlParams.get('sort');
            if (currentSort) {
                sortSelect.value = currentSort;
            }
        }
        </script>







        <!-- Plugins JS File -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.hoverIntent.min.js"></script>
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <script src="assets/js/superfish.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/bootstrap-input-spinner.js"></script>
        <script src="assets/js/jquery.plugin.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/jquery.countdown.min.js"></script>
        <!-- Main JS File -->
        <script src="assets/js/main.js"></script>
        <script src="assets/js/demos/demo-4.js"></script>
    </body>


    <%- include('../layouts/footer.ejs') %>